### PREPARACION PARA ADOBE

Este documento busca la data , la relaciona y la sirve de acuerdo a las tablas y tipos de datos que solicitó el partner

In [1]:
import pandas as pd
from pymongo import MongoClient
import pymongo
from datetime import datetime, timedelta
import numpy as np

import csv

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["ecdf"]
mycol_users = mydb["users"]

In [3]:
feh=datetime(2017,1,1,0,0,0)

In [4]:
def userframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
userData = userframes(mycol_users.find({'createdAt': {'$gte':feh}},{'_id':1,'createdAt':1,'cliente_id':1 ,'email':1,'verificado': 1 }), 10000)

In [5]:
userData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 6776
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   _id         286777 non-null  object
 1   createdAt   286777 non-null  datetime64[ns]
 2   email       286777 non-null  object
 3   verificado  286776 non-null  object
 4   cliente_id  286717 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 13.1+ MB

In [6]:
userData

,_id,createdAt,email,verificado,cliente_id
0,58685c1fd3f4a001fc46f933,2017-01-01 01:32:15.159,vic.ayala1940@gmail.com,True,58685c1fd3f4a001fc46f934
1,5869079eb54b8b058da94b85,2017-01-01 13:43:58.600,vastipi@hotmail.com,True,5869079eb54b8b058da94b86
2,586920adb54b8b058da94b8c,2017-01-01 15:30:53.612,cavalos73@gmail.com,True,586920adb54b8b058da94b8d
3,58692feab54b8b058da94b8e,2017-01-01 16:35:54.370,r19u118@gmail.com,True,58692feab54b8b058da94b8f
4,5869322ab54b8b058da94b91,2017-01-01 16:45:30.095,gflores761@gmail.com,True,5869322ab54b8b058da94b92
...,...,...,...,...,...
6772,5e962397bc029378e090210e,2020-04-14 20:56:55.095,pedrosalazarmaldonado@gmail.com,True,5e962397bc029378e090210f
6773,5e96249510b7ac782d52d3d0,2020-04-14 21:01:09.755,efraincandianovoa88@gmail.com,False,5e96249510b7ac782d52d3d1
6774,5e9626a29e965678374927c9,2020-04-14 21:09:54.310,productosmandel@hotmail.com,False,5e9626a29e965678374927ca
6775,5e96274208a60a78490ffb61,2020-04-14 21:12:34.156,batusai26@gmail.com,True,5e96274208a60a78490ffb62
6776,5e9636661d48bf7843c666ae,2020-04-14 22:17:10.631,r.cristianb@gmail.com,False,5e9636661d48bf7843c666af

#### PROFILE TABLE

In [8]:
id_user=userData

In [9]:
id_user=id_user.rename(columns={ "createdAt": "REGISTRATION_DATE","verificado": "HAS_EMAIL_VERIFY",'email':'EMAIL'})

In [10]:
mydb = myclient["cdfMaster"]
mycol_clientes = mydb["otroClientes"]
feh=datetime(2017,1,1,0,0,0)

In [11]:
def clientesframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
CLIENTES = clientesframes(mycol_clientes.find({
},{'fecha_nacimiento':1,'pais':1,'equipo_favorito':1 ,'nombre':1,'apellidoPaterno': 1,'telefono':1,'genero': 1  }), 10000)

In [12]:
CLIENTES.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434256 entries, 0 to 4255
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _id               434256 non-null  object
 1   nombre            433777 non-null  object
 2   apellidoPaterno   433885 non-null  object
 3   pais              150140 non-null  object
 4   fecha_nacimiento  350036 non-null  object
 5   genero            261321 non-null  object
 6   equipo_favorito   211979 non-null  object
 7   telefono          2535 non-null    object
dtypes: object(8)
memory usage: 29.8+ MB

CLIENTES=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/clientes.csv")

In [13]:
CLIENTES

,_id,nombre,apellidoPaterno,pais,fecha_nacimiento,genero,equipo_favorito,telefono
0,5860ff4104d5b52eef1e6216,Alejandro,Montero Salinas,Chile,sin informacion,sin informacion,None,None
1,5860ff4104d5b52eef1e6217,Claudio,Guerra,Chile,sin informacion,sin informacion,None,None
2,5860ff4104d5b52eef1e6218,Alejandro,Truan,Chile,1900-01-01T04:42:46.000Z,sin informacion,Colo-Colo,None
3,5860ff4104d5b52eef1e6215,Daniel,Vergara,Chile,1987-06-16,sin informacion,None,None
4,5860ff4104d5b52eef1e6219,Segundo,Calderon,Chile,sin informacion,sin informacion,None,None
...,...,...,...,...,...,...,...,...
4251,5e9924b708a60a78490ffbc9,Patrocio,Guzman valdes,None,None,None,None,None
4252,5e994600bc029378e09022fe,Guillermo,Ramírez,None,1900-01-01T04:42:46.000Z,None,Colo-Colo,None
4253,5e99b7c0943ae378c8fe471a,Pedro,Jara,None,None,None,None,None
4254,5e99b9f4977326783df5c8a0,Andrés,Palominos,None,1900-01-01T04:42:46.000Z,None,Colo-Colo,None
4255,5e99bb2fbc029378e090232f,belen,guglieri,None,1900-01-01T04:16:48.000Z,None,None,None

Se le quiere añadir el id de usuario a la tabla de clientes

In [14]:
CLIENTES['fecha_nacimiento']

0                sin informacion
1                sin informacion
2       1900-01-01T04:42:46.000Z
3                     1987-06-16
4                sin informacion
                  ...
4251                        None
4252    1900-01-01T04:42:46.000Z
4253                        None
4254    1900-01-01T04:42:46.000Z
4255    1900-01-01T04:16:48.000Z
Name: fecha_nacimiento, Length: 434256, dtype: object

In [15]:
id_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 6776
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id                286777 non-null  object
 1   REGISTRATION_DATE  286777 non-null  datetime64[ns]
 2   EMAIL              286777 non-null  object
 3   HAS_EMAIL_VERIFY   286776 non-null  object
 4   cliente_id         286717 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 13.1+ MB

In [16]:
CLIENTES['cliente_id']=CLIENTES['_id']

In [17]:
CLIENTES.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434256 entries, 0 to 4255
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _id               434256 non-null  object
 1   nombre            433777 non-null  object
 2   apellidoPaterno   433885 non-null  object
 3   pais              150140 non-null  object
 4   fecha_nacimiento  350036 non-null  object
 5   genero            261321 non-null  object
 6   equipo_favorito   211979 non-null  object
 7   telefono          2535 non-null    object
 8   cliente_id        434256 non-null  object
dtypes: object(9)
memory usage: 33.1+ MB

CLIENTES2=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/clientes.csv")

CLIENTES2.info()

In [17]:
CLIENTES.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434256 entries, 0 to 4255
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _id               434256 non-null  object
 1   nombre            433777 non-null  object
 2   apellidoPaterno   433885 non-null  object
 3   pais              150140 non-null  object
 4   fecha_nacimiento  350036 non-null  object
 5   genero            261321 non-null  object
 6   equipo_favorito   211979 non-null  object
 7   telefono          2535 non-null    object
 8   cliente_id        434256 non-null  object
dtypes: object(9)
memory usage: 33.1+ MB

In [18]:
consolidados2 = CLIENTES.merge(id_user, on='cliente_id', how='right', indicator=True)

consolidados2 = CLIENTES.merge(id_user, right_on='cliente_id',left_on='_id', how='right', indicator=True)

In [19]:
consolidados2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id_x              286717 non-null  object
 1   nombre             286238 non-null  object
 2   apellidoPaterno    286347 non-null  object
 3   pais               2999 non-null    object
 4   fecha_nacimiento   202995 non-null  object
 5   genero             113949 non-null  object
 6   equipo_favorito    193630 non-null  object
 7   telefono           1803 non-null    object
 8   cliente_id         286717 non-null  object
 9   _id_y              286777 non-null  object
 10  REGISTRATION_DATE  286777 non-null  datetime64[ns]
 11  EMAIL              286777 non-null  object
 12  HAS_EMAIL_VERIFY   286776 non-null  object
 13  _merge             286777 non-null  category
dtypes: category(1), datetime64[ns](1), object(12)
memory usage: 30.9+ MB

In [20]:
consolidados2.columns

Index(['_id_x', 'nombre', 'apellidoPaterno', 'pais', 'fecha_nacimiento',
       'genero', 'equipo_favorito', 'telefono', 'cliente_id', '_id_y',
       'REGISTRATION_DATE', 'EMAIL', 'HAS_EMAIL_VERIFY', '_merge'],
      dtype='object')

In [21]:
consolidados2['REGISTRATION_DATE'] = pd.to_datetime(consolidados2['REGISTRATION_DATE'])

In [22]:
consolidados2['REGISTRATION_DATE']

0        2017-01-01 01:32:15.159
1        2017-01-01 13:43:58.600
2        2017-01-01 15:30:53.612
3        2017-01-01 16:35:54.370
4        2017-01-01 16:45:30.095
                   ...
286772   2020-02-04 23:07:09.644
286773   2020-02-04 23:07:06.739
286774   2020-02-04 23:07:07.230
286775   2020-02-04 23:07:07.689
286776   2020-03-27 13:19:38.085
Name: REGISTRATION_DATE, Length: 286777, dtype: datetime64[ns]

In [23]:
consolidados2['REGISTRATION_DATE'].nunique()

286746

Filtrando a los que están después del  2017

consolidados2=consolidados2.loc[consolidados2['REGISTRATION_DATE'] > '2017-01-01 00:00:00.904716']

In [24]:

profile=consolidados2

TRABAJAR LAS FECHAS DE NACIMIENTO

In [25]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id_x              286717 non-null  object
 1   nombre             286238 non-null  object
 2   apellidoPaterno    286347 non-null  object
 3   pais               2999 non-null    object
 4   fecha_nacimiento   202995 non-null  object
 5   genero             113949 non-null  object
 6   equipo_favorito    193630 non-null  object
 7   telefono           1803 non-null    object
 8   cliente_id         286717 non-null  object
 9   _id_y              286777 non-null  object
 10  REGISTRATION_DATE  286777 non-null  datetime64[ns]
 11  EMAIL              286777 non-null  object
 12  HAS_EMAIL_VERIFY   286776 non-null  object
 13  _merge             286777 non-null  category
dtypes: category(1), datetime64[ns](1), object(12)
memory usage: 30.9+ MB

In [26]:
profile.loc[(profile['fecha_nacimiento'].str.contains("sin informacion|1900-01-01T04:42:46.000Z", na=False)),['fecha_nacimiento']]= np.NaN

In [27]:
profile['fecha_nacimiento']= pd.to_datetime(profile.fecha_nacimiento, utc=True)

In [28]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id_x              286717 non-null  object
 1   nombre             286238 non-null  object
 2   apellidoPaterno    286347 non-null  object
 3   pais               2999 non-null    object
 4   fecha_nacimiento   141521 non-null  datetime64[ns, UTC]
 5   genero             113949 non-null  object
 6   equipo_favorito    193630 non-null  object
 7   telefono           1803 non-null    object
 8   cliente_id         286717 non-null  object
 9   _id_y              286777 non-null  object
 10  REGISTRATION_DATE  286777 non-null  datetime64[ns]
 11  EMAIL              286777 non-null  object
 12  HAS_EMAIL_VERIFY   286776 non-null  object
 13  _merge             286777 non-null  category
dtypes: category(1), datetime64[ns, UTC](1), datetime64[ns](1), object(11)
memory usage: 30.9+ MB

In [29]:
profile.loc[(profile['fecha_nacimiento']<'1910-01-01T04:42:46.000Z'),['fecha_nacimiento']]= np.NaN

In [30]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id_x              286717 non-null  object
 1   nombre             286238 non-null  object
 2   apellidoPaterno    286347 non-null  object
 3   pais               2999 non-null    object
 4   fecha_nacimiento   113308 non-null  datetime64[ns, UTC]
 5   genero             113949 non-null  object
 6   equipo_favorito    193630 non-null  object
 7   telefono           1803 non-null    object
 8   cliente_id         286717 non-null  object
 9   _id_y              286777 non-null  object
 10  REGISTRATION_DATE  286777 non-null  datetime64[ns]
 11  EMAIL              286777 non-null  object
 12  HAS_EMAIL_VERIFY   286776 non-null  object
 13  _merge             286777 non-null  category
dtypes: category(1), datetime64[ns, UTC](1), datetime64[ns](1), object(11)
memory usage: 30.9+ MB

In [31]:
profile['fecha_nacimiento'] = pd.to_datetime(profile['fecha_nacimiento'], format='%d/%m/%y %H:%M:%S').dt.strftime('%Y/%m/%d')

In [32]:
profile['fecha_nacimiento']

0         1940/03/06
1         1970/09/22
2         1973/09/08
3         1995/10/15
4         1972/04/06
             ...
286772           NaN
286773           NaN
286774           NaN
286775           NaN
286776           NaN
Name: fecha_nacimiento, Length: 286777, dtype: object

profile['fecha_nacimiento'] = pd.to_datetime(profile['fecha_nacimiento'])

continua

In [33]:
profile=profile.rename(columns={ "cliente_id": "CUSTOMER_ID","fecha_nacimiento": "DATE_OF_BIRTH","pais": "COUNTRY","equipo_favorito": "FAVORITE_TEAM","nombre": "FIRST_NAME","apellidoPaterno":"LAST_NAME","telefono":"PHONE"})

In [34]:
profile.columns

Index(['_id_x', 'FIRST_NAME', 'LAST_NAME', 'COUNTRY', 'DATE_OF_BIRTH',
       'genero', 'FAVORITE_TEAM', 'PHONE', 'CUSTOMER_ID', '_id_y',
       'REGISTRATION_DATE', 'EMAIL', 'HAS_EMAIL_VERIFY', '_merge'],
      dtype='object')

In [35]:
profile=profile.drop(['_id_x', '_id_y','_merge'],axis=1)

In [36]:
profile.columns

Index(['FIRST_NAME', 'LAST_NAME', 'COUNTRY', 'DATE_OF_BIRTH', 'genero',
       'FAVORITE_TEAM', 'PHONE', 'CUSTOMER_ID', 'REGISTRATION_DATE', 'EMAIL',
       'HAS_EMAIL_VERIFY'],
      dtype='object')

In [37]:
profile['cusGenderNonBinary']=profile['genero']

In [38]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FIRST_NAME          286238 non-null  object
 1   LAST_NAME           286347 non-null  object
 2   COUNTRY             2999 non-null    object
 3   DATE_OF_BIRTH       113308 non-null  object
 4   genero              113949 non-null  object
 5   FAVORITE_TEAM       193630 non-null  object
 6   PHONE               1803 non-null    object
 7   CUSTOMER_ID         286717 non-null  object
 8   REGISTRATION_DATE   286777 non-null  datetime64[ns]
 9   EMAIL               286777 non-null  object
 10  HAS_EMAIL_VERIFY    286776 non-null  object
 11  cusGenderNonBinary  113949 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 28.4+ MB

Eliminando los user_id nulos

profile.drop(profile[profile.user_id.isnull()].index, inplace = True)

Hay que transformar el sexo  para llenar el campo cusGenderNonBinary que debe ser numérico

In [39]:
profile.loc[(profile['cusGenderNonBinary'].str.contains("m|M|male", na=False)),['cusGenderNonBinary']]='male'

In [40]:
profile.loc[(profile['cusGenderNonBinary'].str.contains("f|F|female", na=False)),['cusGenderNonBinary']]='female'

In [41]:
profile['cusGenderNonBinary'].unique()

array(['male', 'female', None, nan], dtype=object)

Hay que transformar el sexo para llenar el campo cusGenderNonBinary que debe ser numérico

In [42]:
profile.loc[(profile['genero'].str.contains("m|M|male", na=False)),['genero']]='M'

In [43]:
profile.loc[(profile['genero'].str.contains("f|F|female", na=False)),['genero']]='F'

In [44]:
profile.loc[(profile['genero'].str.contains("None|nan", na=False)),['genero']]=''

In [45]:
profile['genero'].unique()

array(['M', 'F', None, nan], dtype=object)

In [46]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FIRST_NAME          286238 non-null  object
 1   LAST_NAME           286347 non-null  object
 2   COUNTRY             2999 non-null    object
 3   DATE_OF_BIRTH       113308 non-null  object
 4   genero              113949 non-null  object
 5   FAVORITE_TEAM       193630 non-null  object
 6   PHONE               1803 non-null    object
 7   CUSTOMER_ID         286717 non-null  object
 8   REGISTRATION_DATE   286777 non-null  datetime64[ns]
 9   EMAIL               286777 non-null  object
 10  HAS_EMAIL_VERIFY    286776 non-null  object
 11  cusGenderNonBinary  113949 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 28.4+ MB

In [47]:
profile=profile.rename(columns={ 'genero':'GENDER','cusGenderNonBinary':'GENDER_NB'})

In [48]:
profile.columns

Index(['FIRST_NAME', 'LAST_NAME', 'COUNTRY', 'DATE_OF_BIRTH', 'GENDER',
       'FAVORITE_TEAM', 'PHONE', 'CUSTOMER_ID', 'REGISTRATION_DATE', 'EMAIL',
       'HAS_EMAIL_VERIFY', 'GENDER_NB'],
      dtype='object')

In [49]:
profile = profile[['CUSTOMER_ID','COUNTRY','DATE_OF_BIRTH','EMAIL','FAVORITE_TEAM','FIRST_NAME','LAST_NAME','GENDER','GENDER_NB','PHONE','REGISTRATION_DATE','HAS_EMAIL_VERIFY']]

In [50]:
profile['CUSTOMER_ID'] = profile['CUSTOMER_ID']

In [51]:
profile['COUNTRY'] =profile['COUNTRY']

In [52]:
profile['FAVORITE_TEAM'] = profile['FAVORITE_TEAM']

In [53]:
profile['FIRST_NAME'] =profile['FIRST_NAME']

In [54]:
profile['LAST_NAME'] = profile['LAST_NAME']

In [55]:
profile['GENDER'] = profile['GENDER']

In [56]:
profile['GENDER_NB'] = profile['GENDER_NB']

In [57]:
profile['EMAIL'] = profile['EMAIL']

In [58]:
profile['REGISTRATION_DATE']=pd.to_datetime(profile['REGISTRATION_DATE'], format='%d/%m/%y %H:%M:%S').dt.strftime('%Y/%m/%d %H:%M:%S')

profile['REGISTRATION_DATE']=profile['REGISTRATION_DATE'].apply(str)

In [59]:
profile['REGISTRATION_DATE']

0         2017/01/01 01:32:15
1         2017/01/01 13:43:58
2         2017/01/01 15:30:53
3         2017/01/01 16:35:54
4         2017/01/01 16:45:30
                 ...
286772    2020/02/04 23:07:09
286773    2020/02/04 23:07:06
286774    2020/02/04 23:07:07
286775    2020/02/04 23:07:07
286776    2020/03/27 13:19:38
Name: REGISTRATION_DATE, Length: 286777, dtype: object

profile['REGISTRATION_DATE'] =profile.REGISTRATION_DATE.astype('datetime64[s]')

profile['REGISTRATION_DATE']=profile['REGISTRATION_DATE'] .map(lambda x: str(x)[:19])

In [60]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 0 to 286776
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        286717 non-null  object
 1   COUNTRY            2999 non-null    object
 2   DATE_OF_BIRTH      113308 non-null  object
 3   EMAIL              286777 non-null  object
 4   FAVORITE_TEAM      193630 non-null  object
 5   FIRST_NAME         286238 non-null  object
 6   LAST_NAME          286347 non-null  object
 7   GENDER             113949 non-null  object
 8   GENDER_NB          113949 non-null  object
 9   PHONE              1803 non-null    object
 10  REGISTRATION_DATE  286777 non-null  object
 11  HAS_EMAIL_VERIFY   286776 non-null  object
dtypes: object(12)
memory usage: 28.4+ MB

In [61]:
import datetime
datetime.datetime.today()

datetime.datetime(2020, 4, 24, 10, 31, 24, 16642)

 #### Ahora vamos a determinar el nombre y el path

In [62]:
name='cdf_profile_'+datetime.datetime.today().strftime('%Y%m%d_%H%M%S')

In [63]:
path='/home/tecnoboy/'+name+'.csv'

profile.to_csv(path, index=False, quotechar='"', fieldnames=CUSTOMER_ID)

profile.to_csv(path, index=False, quoting=csv.QUOTE_ALL)

profile.to_csv(path, index=False, quoting=csv.QUOTE_NONNUMERIC)

,quotechar='"'

In [64]:
profile.to_csv(path, index=False, quoting=csv.QUOTE_NONNUMERIC)