### PREPARACION PARA ADOBE

Este documento busca la data , la relaciona y la sirve de acuerdo a las tablas y tipos de datos que solicitó el partner

In [1]:
import pandas as pd
from pymongo import MongoClient
import datetime 
import numpy as np

In [2]:
USERS=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/users.csv")

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11,12,13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
USERS

,_id,updatedAt,createdAt,email,password,nombre,apellido,estado_token,pasarela,material,...,fecha_nacimiento,_transaccion,_acuerdo,_producto,fecha_fin,fecha_pago,fecha_acuerdo,email_recuperacion,fecha_cancelacion,genero
0,563857913817661751603df2,2017-04-06T21:07:54.410Z,2016-12-26T11:47:05.935Z,rsmonteros@gmail.com,$2a$10$u/Gz4dlwJXh7gdk6R00Hi.jFflKRD391nb8aGer...,Alejandro,Montero Salinas,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,NaN,2016-12-26T11:47:05.935Z,NaN
1,563857913817661751603df5,2017-04-06T21:07:56.680Z,2016-12-26T11:47:05.935Z,segundocabe@hotmail.com,$2a$10$CTW5LDZeT1zbdu1pC80ruO.A6RHzEQudT7Cd44N...,Segundo,Calderon,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,NaN,2016-12-26T11:47:05.935Z,NaN
2,563857913817661751603df4,2019-02-23T14:36:51.988Z,2016-12-26T11:47:05.935Z,alejandro.truan@gmail.com,$2a$10$NDydpFNHSwURsPG634hkW.ps.LM.H3rPXmEZ9Jw...,Alejandro,Truan,freemium,freemium,freemium,...,1900-01-01T04:42:46.000Z,NaN,NaN,NaN,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,NaN,2016-12-26T11:47:05.935Z,sin informacion
3,563857913817661751603df3,2017-04-06T21:07:56.941Z,2016-12-26T11:47:05.935Z,cg_criminalista@hotmail.com,$2a$10$h3LwuCGKP9YKYXwx6jkJwensLIjyromT.oVW9MY...,Claudio,Guerra,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,2016-12-26T11:47:05.935Z,NaN,2016-12-26T11:47:05.935Z,NaN
4,563857913817661751603df1,2017-04-06T21:07:57.067Z,2016-12-26T11:47:05.934Z,daver182@gmail.com,$2a$10$Cy9ryLCRNnkiqvLA7tRQr.uBsJb7sR7lm1av89P...,Daniel,Vergara,freemium,freemium,freemium,...,1987-06-16T00:00:00.000Z,5861c4990ee08c3630cdd9b1,5861c4990ee08c3630cdd9b0,5864280873981c4e423c0cb1,2015-11-03T14:23:49.730Z,2015-10-04T14:22:29.134Z,2016-12-27T01:32:09.416Z,NaN,2016-12-27T01:32:09.416Z,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432750,5e6a514d7a067310ad8d2605,2020-03-12T15:12:13.323Z,2020-03-12T15:12:13.318Z,samuel.bascur@gmail.com,$2a$10$qwHMY7mOIWBJS6ZPCtEn6ewcdRIBqcyB3Rol9ei...,Samuel,Bascur,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432751,5e6a52d58d6fbc109d66f9e7,2020-03-12T15:19:14.194Z,2020-03-12T15:18:45.730Z,djalexcid@gmail.com,$2a$10$mzJplOuts7VO9PCQktPvA.blg.JvnjJ87.tALOO...,Alejandro,Cid,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432752,5e6a5355ad807c1304b5b6ea,2020-03-12T15:22:37.713Z,2020-03-12T15:20:53.570Z,alexis.barria.c@outlook.cl,$2a$10$yteHUa5MoviN1A3qaTptl.5pV0yPo6FW3WvZKI/...,Alexis Andrés,Barría Cabello,freemium,freemium,freemium,...,1900-01-01T04:42:46.000Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432753,5e6a55c8805fdd10915faa74,2020-03-12T15:31:20.592Z,2020-03-12T15:31:20.588Z,rorrocarrasco8@hotmail.com,$2a$10$wMf3csDUGO35GAadDdp1ruK.C8Wbz1dwsgHQpHK...,Rodrigo,Carrasco,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432754,5e6a588868335813120f0d6d,2020-03-12T15:43:04.662Z,2020-03-12T15:43:04.657Z,vegasalejandro77@gmail.com,$2a$10$9Sr2XjVld6U3JNF24beyf.6VuNiYUVFJd047CjG...,Aldjandro,Rojas,freemium,freemium,freemium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### PROFILE TABLE

In [4]:
USERS.columns

Index(['_id', 'updatedAt', 'createdAt', 'email', 'password', 'nombre',
       'apellido', 'estado_token', 'pasarela', 'material', 'dispositivos',
       'propiedades.0.beta', 'baneado', 'estado', 'tipo', 'verificado',
       '_roles', '__v', '_cliente', 'cliente_id', 'fecha_nacimiento',
       '_transaccion', '_acuerdo', '_producto', 'fecha_fin', 'fecha_pago',
       'fecha_acuerdo', 'email_recuperacion', 'fecha_cancelacion', 'genero'],
      dtype='object')

In [5]:
id_user=USERS.drop([
    'updatedAt', 'password', 'nombre',
       'apellido', 'estado_token', 'pasarela', 'material', 'dispositivos',
       'propiedades.0.beta', 'baneado', 'estado', 'tipo', 
       '_roles', '__v', '_cliente',  'fecha_nacimiento',
       'email_recuperacion', 'genero', '_acuerdo', 'fecha_acuerdo',
       'fecha_fin', 'fecha_pago', 'fecha_cancelacion', '_transaccion',
       '_producto'],axis=1)

In [6]:
id_user.columns

Index(['_id', 'createdAt', 'email', 'verificado', 'cliente_id'], dtype='object')

In [7]:
id_user=id_user.rename(columns={ "createdAt": "REGISTRATION_DATE","verificado": "HAS_EMAIL_VERIFY",'email':'EMAIL'})

In [8]:
CLIENTES=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/clientes.csv")

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,10,11,12,13,16,17,18,21,22,23,24,28,29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
CLIENTES

,_id,updatedAt,createdAt,__v,idMd,nombre,apellidoPaterno,rut,email,pais,...,pago,estado,obsoleto,creado,compra_activa,email_recuperacion,equipo_favorito,favorito,apellidoMaterno,telefono
0,5860ff4104d5b52eef1e6216,2016-12-26T11:30:09.755Z,2016-12-26T11:30:09.755Z,0.0,563857913817661751603df2,Alejandro,Montero Salinas,66666666-6,rsmonteros@gmail.com,Chile,...,0.0,ACTIVE,False,2013-08-25T14:37:54.039Z,False,NaN,NaN,NaN,NaN,NaN
1,5860ff4104d5b52eef1e6217,2016-12-26T11:30:09.755Z,2016-12-26T11:30:09.755Z,0.0,563857913817661751603df3,Claudio,Guerra,66666666-6,cg_criminalista@hotmail.com,Chile,...,0.0,ACTIVE,False,2013-08-25T14:19:55.760Z,False,NaN,NaN,NaN,NaN,NaN
2,5860ff4104d5b52eef1e6218,2019-02-23T14:36:51.986Z,2016-12-26T11:30:09.755Z,0.0,563857913817661751603df4,Alejandro,Truan,66666666-6,alejandro.truan@gmail.com,Chile,...,0.0,ACTIVE,False,2013-08-25T14:15:48.995Z,False,NaN,Colo-Colo,2641.0,NaN,NaN
3,5860ff4104d5b52eef1e6215,2016-12-26T11:30:09.754Z,2016-12-26T11:30:09.754Z,0.0,563857913817661751603df1,Daniel,Vergara,66666666-6,daver182@gmail.com,Chile,...,1.0,ACTIVE,False,2013-08-25T14:41:58.497Z,False,NaN,NaN,NaN,NaN,NaN
4,5860ff4104d5b52eef1e6219,2016-12-26T11:30:09.756Z,2016-12-26T11:30:09.756Z,0.0,563857913817661751603df5,Segundo,Calderon,66666666-6,segundocabe@hotmail.com,Chile,...,0.0,ACTIVE,False,2013-08-25T14:13:46.515Z,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434251,5e9924b708a60a78490ffbc9,2020-04-17T03:38:31.378Z,2020-04-17T03:38:31.378Z,0.0,NaN,Patrocio,Guzman valdes,NaN,hpguzman2018@gmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434252,5e994600bc029378e09022fe,2020-04-17T06:03:16.807Z,2020-04-17T06:00:32.656Z,0.0,NaN,Guillermo,Ramírez,NaN,gramirez33.me@gmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Colo-Colo,2641.0,NaN,NaN
434253,5e99b7c0943ae378c8fe471a,2020-04-17T14:05:52.307Z,2020-04-17T14:05:52.307Z,0.0,NaN,Pedro,Jara,NaN,pedro721@gmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434254,5e99b9f4977326783df5c8a0,2020-04-17T14:20:00.888Z,2020-04-17T14:15:16.678Z,0.0,NaN,Andrés,Palominos,NaN,andresspalominoss@hotmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Colo-Colo,2641.0,NaN,NaN
434255,5e99bb2fbc029378e090232f,2020-04-17T14:21:44.518Z,2020-04-17T14:20:31.978Z,0.0,NaN,belen,guglieri,NaN,beluguglieri@gmail.com,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Se le quiere añadir el id de usuario a la tabla de clientes

In [10]:
CLIENTES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434256 entries, 0 to 434255
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 434256 non-null  object
 1   updatedAt           434255 non-null  object
 2   createdAt           434255 non-null  object
 3   __v                 434255 non-null  float64
 4   idMd                147385 non-null  object
 5   nombre              433775 non-null  object
 6   apellidoPaterno     433885 non-null  object
 7   rut                 256666 non-null  object
 8   email               434256 non-null  object
 9   pais                150140 non-null  object
 10  provincia           143799 non-null  object
 11  codigoPais          144898 non-null  object
 12  direccion           147988 non-null  object
 13  tipo                147386 non-null  object
 14  fecha_nacimiento    350036 non-null  object
 15  genero              261321 non-null  object
 16  email_confirmado    136851 non-null  object
 17  avatar              147386 non-null  object
 18  equipo              147307 non-null  object
 19  compra              147384 non-null  float64
 20  pago                147384 non-null  float64
 21  estado              147386 non-null  object
 22  obsoleto            147386 non-null  object
 23  creado              147386 non-null  object
 24  compra_activa       147386 non-null  object
 25  email_recuperacion  2480 non-null    object
 26  equipo_favorito     211979 non-null  object
 27  favorito            114552 non-null  float64
 28  apellidoMaterno     115099 non-null  object
 29  telefono            2535 non-null    object
dtypes: float64(4), object(26)
memory usage: 99.4+ MB

In [11]:
CLIENTES['fecha_nacimiento']

0                  sin informacion
1                  sin informacion
2         1900-01-01T04:42:46.000Z
3                       1987-06-16
4                  sin informacion
                    ...
434251                         NaN
434252    1900-01-01T04:42:46.000Z
434253                         NaN
434254    1900-01-01T04:42:46.000Z
434255    1900-01-01T04:16:48.000Z
Name: fecha_nacimiento, Length: 434256, dtype: object

In [12]:
id_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432755 entries, 0 to 432754
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id                432755 non-null  object
 1   REGISTRATION_DATE  432754 non-null  object
 2   EMAIL              432755 non-null  object
 3   HAS_EMAIL_VERIFY   432754 non-null  object
 4   cliente_id         432696 non-null  object
dtypes: object(5)
memory usage: 16.5+ MB

In [13]:
CLIENTES['cliente_id']=CLIENTES['_id']

In [14]:
consolidados2 = CLIENTES.merge(id_user, on=['cliente_id'], how="right", indicator=True)

In [15]:
consolidados2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 432755 entries, 0 to 432754
Data columns (total 36 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id_x               432696 non-null  object
 1   updatedAt           432695 non-null  object
 2   createdAt           432695 non-null  object
 3   __v                 432695 non-null  float64
 4   idMd                147385 non-null  object
 5   nombre              432222 non-null  object
 6   apellidoPaterno     432333 non-null  object
 7   rut                 256621 non-null  object
 8   email               432696 non-null  object
 9   pais                150132 non-null  object
 10  provincia           143798 non-null  object
 11  codigoPais          144897 non-null  object
 12  direccion           147988 non-null  object
 13  tipo                147386 non-null  object
 14  fecha_nacimiento    349179 non-null  object
 15  genero              261274 non-null  object
 16  email_confirmado    136853 non-null  object
 17  avatar              147386 non-null  object
 18  equipo              147307 non-null  object
 19  compra              147384 non-null  float64
 20  pago                147384 non-null  float64
 21  estado              147386 non-null  object
 22  obsoleto            147386 non-null  object
 23  creado              147386 non-null  object
 24  compra_activa       147386 non-null  object
 25  email_recuperacion  2473 non-null    object
 26  equipo_favorito     211249 non-null  object
 27  favorito            113858 non-null  float64
 28  apellidoMaterno     115061 non-null  object
 29  telefono            2528 non-null    object
 30  cliente_id          432696 non-null  object
 31  _id_y               432755 non-null  object
 32  REGISTRATION_DATE   432754 non-null  object
 33  EMAIL               432755 non-null  object
 34  HAS_EMAIL_VERIFY    432754 non-null  object
 35  _merge              432755 non-null  category
dtypes: category(1), float64(4), object(31)
memory usage: 119.3+ MB

In [16]:
consolidados2.columns

Index(['_id_x', 'updatedAt', 'createdAt', '__v', 'idMd', 'nombre',
       'apellidoPaterno', 'rut', 'email', 'pais', 'provincia', 'codigoPais',
       'direccion', 'tipo', 'fecha_nacimiento', 'genero', 'email_confirmado',
       'avatar', 'equipo', 'compra', 'pago', 'estado', 'obsoleto', 'creado',
       'compra_activa', 'email_recuperacion', 'equipo_favorito', 'favorito',
       'apellidoMaterno', 'telefono', 'cliente_id', '_id_y',
       'REGISTRATION_DATE', 'EMAIL', 'HAS_EMAIL_VERIFY', '_merge'],
      dtype='object')

In [17]:
consolidados2['REGISTRATION_DATE'] = pd.to_datetime(consolidados2['REGISTRATION_DATE'])

Filtrando a los que están después del  2017

In [18]:
consolidados2=consolidados2.loc[consolidados2['REGISTRATION_DATE'] > '2017-01-01 00:00:00.904716']

In [19]:

profile=consolidados2

TRABAJAR LAS FECHAS DE NACIMIENTO

In [20]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285331 entries, 147423 to 432754
Data columns (total 36 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id_x               285272 non-null  object
 1   updatedAt           285272 non-null  object
 2   createdAt           285272 non-null  object
 3   __v                 285272 non-null  float64
 4   idMd                2 non-null       object
 5   nombre              284799 non-null  object
 6   apellidoPaterno     284909 non-null  object
 7   rut                 109248 non-null  object
 8   email               285272 non-null  object
 9   pais                2990 non-null    object
 10  provincia           2 non-null       object
 11  codigoPais          1 non-null       object
 12  direccion           661 non-null     object
 13  tipo                2 non-null       object
 14  fecha_nacimiento    202201 non-null  object
 15  genero              113941 non-null  object
 16  email_confirmado    2 non-null       object
 17  avatar              2 non-null       object
 18  equipo              0 non-null       object
 19  compra              0 non-null       float64
 20  pago                0 non-null       float64
 21  estado              2 non-null       object
 22  obsoleto            2 non-null       object
 23  creado              2 non-null       object
 24  compra_activa       2 non-null       object
 25  email_recuperacion  1737 non-null    object
 26  equipo_favorito     192954 non-null  object
 27  favorito            96594 non-null   float64
 28  apellidoMaterno     112555 non-null  object
 29  telefono            1795 non-null    object
 30  cliente_id          285272 non-null  object
 31  _id_y               285331 non-null  object
 32  REGISTRATION_DATE   285331 non-null  datetime64[ns, UTC]
 33  EMAIL               285331 non-null  object
 34  HAS_EMAIL_VERIFY    285330 non-null  object
 35  _merge              285331 non-null  category
dtypes: category(1), datetime64[ns, UTC](1), float64(4), object(30)
memory usage: 78.6+ MB

In [21]:
profile.loc[(profile['fecha_nacimiento'].str.contains("sin informacion|1900-01-01T04:42:46.000Z", na=False)),['fecha_nacimiento']]= np.NaN

In [22]:
profile['fecha_nacimiento']= pd.to_datetime(profile.fecha_nacimiento, utc=True)

In [23]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285331 entries, 147423 to 432754
Data columns (total 36 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id_x               285272 non-null  object
 1   updatedAt           285272 non-null  object
 2   createdAt           285272 non-null  object
 3   __v                 285272 non-null  float64
 4   idMd                2 non-null       object
 5   nombre              284799 non-null  object
 6   apellidoPaterno     284909 non-null  object
 7   rut                 109248 non-null  object
 8   email               285272 non-null  object
 9   pais                2990 non-null    object
 10  provincia           2 non-null       object
 11  codigoPais          1 non-null       object
 12  direccion           661 non-null     object
 13  tipo                2 non-null       object
 14  fecha_nacimiento    141308 non-null  datetime64[ns, UTC]
 15  genero              113941 non-null  object
 16  email_confirmado    2 non-null       object
 17  avatar              2 non-null       object
 18  equipo              0 non-null       object
 19  compra              0 non-null       float64
 20  pago                0 non-null       float64
 21  estado              2 non-null       object
 22  obsoleto            2 non-null       object
 23  creado              2 non-null       object
 24  compra_activa       2 non-null       object
 25  email_recuperacion  1737 non-null    object
 26  equipo_favorito     192954 non-null  object
 27  favorito            96594 non-null   float64
 28  apellidoMaterno     112555 non-null  object
 29  telefono            1795 non-null    object
 30  cliente_id          285272 non-null  object
 31  _id_y               285331 non-null  object
 32  REGISTRATION_DATE   285331 non-null  datetime64[ns, UTC]
 33  EMAIL               285331 non-null  object
 34  HAS_EMAIL_VERIFY    285330 non-null  object
 35  _merge              285331 non-null  category
dtypes: category(1), datetime64[ns, UTC](2), float64(4), object(29)
memory usage: 78.6+ MB

In [24]:
profile.loc[(profile['fecha_nacimiento']<'1910-01-01T04:42:46.000Z'),['fecha_nacimiento']]= np.NaN

In [25]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285331 entries, 147423 to 432754
Data columns (total 36 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id_x               285272 non-null  object
 1   updatedAt           285272 non-null  object
 2   createdAt           285272 non-null  object
 3   __v                 285272 non-null  float64
 4   idMd                2 non-null       object
 5   nombre              284799 non-null  object
 6   apellidoPaterno     284909 non-null  object
 7   rut                 109248 non-null  object
 8   email               285272 non-null  object
 9   pais                2990 non-null    object
 10  provincia           2 non-null       object
 11  codigoPais          1 non-null       object
 12  direccion           661 non-null     object
 13  tipo                2 non-null       object
 14  fecha_nacimiento    113298 non-null  datetime64[ns, UTC]
 15  genero              113941 non-null  object
 16  email_confirmado    2 non-null       object
 17  avatar              2 non-null       object
 18  equipo              0 non-null       object
 19  compra              0 non-null       float64
 20  pago                0 non-null       float64
 21  estado              2 non-null       object
 22  obsoleto            2 non-null       object
 23  creado              2 non-null       object
 24  compra_activa       2 non-null       object
 25  email_recuperacion  1737 non-null    object
 26  equipo_favorito     192954 non-null  object
 27  favorito            96594 non-null   float64
 28  apellidoMaterno     112555 non-null  object
 29  telefono            1795 non-null    object
 30  cliente_id          285272 non-null  object
 31  _id_y               285331 non-null  object
 32  REGISTRATION_DATE   285331 non-null  datetime64[ns, UTC]
 33  EMAIL               285331 non-null  object
 34  HAS_EMAIL_VERIFY    285330 non-null  object
 35  _merge              285331 non-null  category
dtypes: category(1), datetime64[ns, UTC](2), float64(4), object(29)
memory usage: 78.6+ MB

In [26]:
profile['fecha_nacimiento'] = pd.to_datetime(profile['fecha_nacimiento'], format='%d/%m/%y %H:%M:%S').dt.strftime('%Y/%m/%d')

In [27]:
profile['fecha_nacimiento']

147423    1940/03/06
147424    1970/09/22
147425    1973/09/08
147426    1995/10/15
147427    1972/04/06
             ...
432750           NaN
432751           NaN
432752           NaN
432753           NaN
432754           NaN
Name: fecha_nacimiento, Length: 285331, dtype: object

profile['fecha_nacimiento'] = pd.to_datetime(profile['fecha_nacimiento'])

continua

In [28]:
profile=profile.rename(columns={ "cliente_id": "CUSTOMER_ID","fecha_nacimiento": "DATE_OF_BIRTH","pais": "COUNTRY","equipo_favorito": "FAVORITE_TEAM","nombre": "FIRST_NAME","apellidoPaterno":"LAST_NAME","telefono":"PHONE"})

In [29]:
profile.columns

Index(['_id_x', 'updatedAt', 'createdAt', '__v', 'idMd', 'FIRST_NAME',
       'LAST_NAME', 'rut', 'email', 'COUNTRY', 'provincia', 'codigoPais',
       'direccion', 'tipo', 'DATE_OF_BIRTH', 'genero', 'email_confirmado',
       'avatar', 'equipo', 'compra', 'pago', 'estado', 'obsoleto', 'creado',
       'compra_activa', 'email_recuperacion', 'FAVORITE_TEAM', 'favorito',
       'apellidoMaterno', 'PHONE', 'CUSTOMER_ID', '_id_y', 'REGISTRATION_DATE',
       'EMAIL', 'HAS_EMAIL_VERIFY', '_merge'],
      dtype='object')

In [30]:
profile=profile.drop(['_id_x', 'updatedAt', 'createdAt', 'email',
       'codigoPais', '__v', 'email_recuperacion', 'provincia','direccion','tipo','favorito', 'rut', 
       '_id_y', '_merge','email_confirmado','avatar','equipo','compra','pago','estado','obsoleto','creado','compra_activa','apellidoMaterno'],axis=1)

In [31]:
profile.columns

Index(['idMd', 'FIRST_NAME', 'LAST_NAME', 'COUNTRY', 'DATE_OF_BIRTH', 'genero',
       'FAVORITE_TEAM', 'PHONE', 'CUSTOMER_ID', 'REGISTRATION_DATE', 'EMAIL',
       'HAS_EMAIL_VERIFY'],
      dtype='object')

In [32]:
profile['cusGenderNonBinary']=profile['genero']

In [33]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285331 entries, 147423 to 432754
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   idMd                2 non-null       object
 1   FIRST_NAME          284799 non-null  object
 2   LAST_NAME           284909 non-null  object
 3   COUNTRY             2990 non-null    object
 4   DATE_OF_BIRTH       113298 non-null  object
 5   genero              113941 non-null  object
 6   FAVORITE_TEAM       192954 non-null  object
 7   PHONE               1795 non-null    object
 8   CUSTOMER_ID         285272 non-null  object
 9   REGISTRATION_DATE   285331 non-null  datetime64[ns, UTC]
 10  EMAIL               285331 non-null  object
 11  HAS_EMAIL_VERIFY    285330 non-null  object
 12  cusGenderNonBinary  113941 non-null  object
dtypes: datetime64[ns, UTC](1), object(12)
memory usage: 30.5+ MB

Eliminando los user_id nulos

profile.drop(profile[profile.user_id.isnull()].index, inplace = True)

Hay que transformar el sexo  para llenar el campo cusGenderNonBinary que debe ser numérico

In [34]:
profile.loc[(profile['cusGenderNonBinary'].str.contains("m|M|male", na=False)),['cusGenderNonBinary']]='male'

In [35]:
profile.loc[(profile['cusGenderNonBinary'].str.contains("f|F|female", na=False)),['cusGenderNonBinary']]='female'

In [36]:
profile['cusGenderNonBinary'].unique()

array(['male', 'female', nan], dtype=object)

Hay que transformar el sexo para llenar el campo cusGenderNonBinary que debe ser numérico

In [37]:
profile.loc[(profile['genero'].str.contains("m|M|male", na=False)),['genero']]='M'

In [38]:
profile.loc[(profile['genero'].str.contains("f|F|female", na=False)),['genero']]='F'

In [39]:
profile['genero'].unique()

array(['M', 'F', nan], dtype=object)

In [40]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285331 entries, 147423 to 432754
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   idMd                2 non-null       object
 1   FIRST_NAME          284799 non-null  object
 2   LAST_NAME           284909 non-null  object
 3   COUNTRY             2990 non-null    object
 4   DATE_OF_BIRTH       113298 non-null  object
 5   genero              113941 non-null  object
 6   FAVORITE_TEAM       192954 non-null  object
 7   PHONE               1795 non-null    object
 8   CUSTOMER_ID         285272 non-null  object
 9   REGISTRATION_DATE   285331 non-null  datetime64[ns, UTC]
 10  EMAIL               285331 non-null  object
 11  HAS_EMAIL_VERIFY    285330 non-null  object
 12  cusGenderNonBinary  113941 non-null  object
dtypes: datetime64[ns, UTC](1), object(12)
memory usage: 30.5+ MB

In [41]:
profile=profile.rename(columns={ 'genero':'GENDER','cusGenderNonBinary':'GENDER_NB'})

In [42]:
profile.columns

Index(['idMd', 'FIRST_NAME', 'LAST_NAME', 'COUNTRY', 'DATE_OF_BIRTH', 'GENDER',
       'FAVORITE_TEAM', 'PHONE', 'CUSTOMER_ID', 'REGISTRATION_DATE', 'EMAIL',
       'HAS_EMAIL_VERIFY', 'GENDER_NB'],
      dtype='object')

In [43]:
profile = profile[['CUSTOMER_ID','COUNTRY','DATE_OF_BIRTH','EMAIL','FAVORITE_TEAM','FIRST_NAME','LAST_NAME','GENDER','GENDER_NB','PHONE','REGISTRATION_DATE','HAS_EMAIL_VERIFY']]

In [44]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 285331 entries, 147423 to 432754
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        285272 non-null  object
 1   COUNTRY            2990 non-null    object
 2   DATE_OF_BIRTH      113298 non-null  object
 3   EMAIL              285331 non-null  object
 4   FAVORITE_TEAM      192954 non-null  object
 5   FIRST_NAME         284799 non-null  object
 6   LAST_NAME          284909 non-null  object
 7   GENDER             113941 non-null  object
 8   GENDER_NB          113941 non-null  object
 9   PHONE              1795 non-null    object
 10  REGISTRATION_DATE  285331 non-null  datetime64[ns, UTC]
 11  HAS_EMAIL_VERIFY   285330 non-null  object
dtypes: datetime64[ns, UTC](1), object(11)
memory usage: 28.3+ MB

 #### Ahora vamos a determinar el nombre y el path

In [45]:
name='cdf_profile_'+datetime.datetime.today().strftime('%Y%m%d_%H%M%S')

In [46]:
path='/home/tecnoboy/'+name+'.csv'

In [47]:
profile.to_csv(path, index=False)