## ESTUDIO PARA EL SERNAC

###  CUPONES - ENFOQUE DE CUPONES ASIGNADOS

In [1]:
import pandas as pd

In [2]:
cupones_asignados=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/cuponesasignados.csv")

In [3]:
users=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/users.csv")

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11,12,13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
mails=users.drop({ 'updatedAt', 'createdAt',  'password', 'nombre',
       'apellido', 'estado_token', 'pasarela', 'material', 'dispositivos',
       'propiedades.0.beta', 'baneado', 'estado', 'tipo', 'verificado',
       '_roles', '__v', '_cliente',  'fecha_nacimiento',
       '_transaccion', '_acuerdo', '_producto', 'fecha_fin', 'fecha_pago',
       'fecha_acuerdo', 'email_recuperacion', 'fecha_cancelacion', 'genero'},axis=1)

In [5]:
mails=mails.rename(columns={'_id':'user_id'})

In [6]:
cupones_asignados.columns

Index(['_id', 'updatedAt', 'createdAt', 'user_id_asignado', 'cupon_id',
       'producto_id', 'codigo', 'fecha_activacion', 'fecha_fin', 'material',
       'user_id_asignado_por', 'estado', '__v', 'pago_id', 'acuerdo_id'],
      dtype='object')

In [7]:
cupones_email=cupones_asignados.merge(mails, left_on='user_id_asignado', right_on='user_id')

In [8]:
cupones_email=cupones_email.rename(columns={'fecha_activacion':'celebracion_contr','user_id_asignado':'id_Sernac'})## Revisarlo porque es mejor la fecha del pago

Buscamos tanto el precio_mensual_suscripcion del producto['ValorNacional']

In [9]:
productos=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/productos.csv")

In [10]:
productos.columns

Index(['_id', 'updatedAt', 'createdAt', 'userId', 'fechaInicio', 'fechaFin',
       'producto', 'valorNacional', 'material', 'ciclos', 'intervalo',
       'descripcion', 'tipo', 'estado', 'pasarela.0.value', 'pasarela.0.code',
       'region.name', 'region.code', 'dispositivos', '__v', 'recurrente',
       'valorInternacional'],
      dtype='object')

In [11]:
cupones_ValorReal=cupones_email.merge(productos, left_on='producto_id', right_on='_id')

In [12]:
cupones_ValorReal=cupones_ValorReal.rename(columns={'valorNacional':'precio_mensual_suscripcion'})

In [13]:
cupones_ValorReal.columns

Index(['_id_x', 'updatedAt_x', 'createdAt_x', 'id_Sernac', 'cupon_id',
       'producto_id', 'codigo', 'celebracion_contr', 'fecha_fin', 'material_x',
       'user_id_asignado_por', 'estado_x', '__v_x', 'pago_id', 'acuerdo_id',
       'user_id', 'email', 'cliente_id', '_id_y', 'updatedAt_y', 'createdAt_y',
       'userId', 'fechaInicio', 'fechaFin', 'producto',
       'precio_mensual_suscripcion', 'material_y', 'ciclos', 'intervalo',
       'descripcion', 'tipo', 'estado_y', 'pasarela.0.value',
       'pasarela.0.code', 'region.name', 'region.code', 'dispositivos',
       '__v_y', 'recurrente', 'valorInternacional'],
      dtype='object')

In [14]:
cupones_ValorReal=cupones_ValorReal.drop({ '_id_x', 'updatedAt_x', 'createdAt_x', 'codigo', 'material_x',
       'user_id_asignado_por', 'estado_x', '__v_x', 'pago_id', 'acuerdo_id', 'cliente_id', '_id_y', 'updatedAt_y', 'createdAt_y',
       'userId', 'fechaInicio', 'fechaFin', 'producto', 'material_y', 'ciclos', 'intervalo',
       'descripcion', 'tipo', 'estado_y', 'pasarela.0.value',
       'pasarela.0.code', 'region.name', 'region.code', 'dispositivos',
       '__v_y'},axis=1)

In [15]:
cupones_ValorReal

,id_Sernac,cupon_id,producto_id,celebracion_contr,fecha_fin,user_id,email,precio_mensual_suscripcion,recurrente,valorInternacional
0,5861903a33795733d89a6f56,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-27T15:14:10.947Z,2017-12-26T00:00:00.000Z,5861903a33795733d89a6f56,fbaez@ned.cl,0.0,NaN,NaN
1,5861903a33795733d89a6f56,5956854929646a190d715198,58530cb71652e44220a586d1,2018-03-06T21:24:38.404Z,2019-01-01T02:59:59.999Z,5861903a33795733d89a6f56,fbaez@ned.cl,0.0,NaN,NaN
2,5861903a33795733d89a6f56,5c2d0b5500f6190edc2bc9ea,58530cb71652e44220a586d1,2019-01-02T19:06:07.719Z,2020-02-01T02:59:59.999Z,5861903a33795733d89a6f56,fbaez@ned.cl,0.0,NaN,NaN
3,5863db88986c554aebb4b278,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-28T15:42:11.377Z,2017-01-27T00:00:00.000Z,5863db88986c554aebb4b278,ricardo@ned.cl,0.0,NaN,NaN
4,5863fde9986c554aebb4b27e,58530d611652e44220a586d2,58530cb71652e44220a586d1,2016-12-28T18:14:41.783Z,2017-01-27T00:00:00.000Z,5863fde9986c554aebb4b27e,epalominos@ned.cl,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13117,56ffc8527ed629d7085b4a62,589c7095549cf21eedf7d234,5864280873981c4e423c0cb1,2017-04-01T03:31:09.962Z,2017-05-31T03:31:09.962Z,56ffc8527ed629d7085b4a62,hesalgad@gmail.com,7390.0,True,NaN
13118,58dfbfe2965ca60b03b9efc8,589c7095549cf21eedf7d234,5864280873981c4e423c0cb1,2017-04-01T15:03:03.905Z,2017-05-27T02:54:24.956Z,58dfbfe2965ca60b03b9efc8,carloosfiguero@gmail.com,7390.0,True,NaN
13119,581e5bbcc651fdd1084116e2,589c7095549cf21eedf7d234,5864280873981c4e423c0cb1,2017-04-28T20:00:25.249Z,2017-06-27T20:00:25.249Z,581e5bbcc651fdd1084116e2,irenearinka@hotmail.com,7390.0,True,NaN
13120,5ab3c66cbf23d851c4c4fa8f,5ab3be4778990157b4dfab21,5864280873981c4e423c0cb1,2018-03-22T15:15:02.971Z,2018-03-28T21:50:57.505Z,5ab3c66cbf23d851c4c4fa8f,lcorrea+1@cdf.cl,7390.0,True,NaN
13121,5ab3ca3533e28c747a751db8,5ab3be4778990157b4dfab21,5864280873981c4e423c0cb1,2018-03-22T15:30:53.098Z,2018-03-28T21:48:24.688Z,5ab3ca3533e28c747a751db8,hector.guldenaar@turner.com,7390.0,True,NaN

In [16]:
cupones_ValorReal=cupones_ValorReal.rename(columns={'cupon_id':'acuerdo_id'})

AHORA BUSCAR PAGOS MENSUALES Y FECHA DEL PAGO

In [17]:
pagos=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/pagos.csv")

In [18]:
cupones_total=cupones_ValorReal.merge(pagos, on=['user_id','acuerdo_id'],how='left')

In [19]:
cupones_total.columns

Index(['id_Sernac', 'acuerdo_id', 'producto_id_x', 'celebracion_contr',
       'fecha_fin_x', 'user_id', 'email', 'precio_mensual_suscripcion',
       'recurrente', 'valorInternacional', '_id', 'updatedAt', 'createdAt',
       '__v', 'pasarela', 'monto', 'moneda', 'estado', 'fecha_pago',
       'producto_id_y', 'transaccion_id', 'material', 'fecha_fin_y',
       'folio_boleta', '_user'],
      dtype='object')

In [20]:
cupones_total=cupones_total.drop({  'acuerdo_id', 'producto_id_x', 'user_id','valorInternacional', '_id', 'updatedAt', 'createdAt',
       'pasarela',  'moneda', 'estado', 'producto_id_y',
       'transaccion_id', 'material', 'fecha_fin_y', '_user'},axis=1)

In [21]:
cupones_total['monto']=cupones_total.monto.fillna(0)

In [22]:
cupones_total['fecha_pago']=cupones_total.fecha_pago.fillna('NA')

In [23]:
cupones_total['fecha_fin_x']=pd.to_datetime(cupones_total.fecha_fin_x)

In [24]:
cupones_total['celebracion_contr']=pd.to_datetime(cupones_total.celebracion_contr)

In [25]:
cupones_total

,id_Sernac,celebracion_contr,fecha_fin_x,email,precio_mensual_suscripcion,recurrente,__v,monto,fecha_pago,folio_boleta
0,5861903a33795733d89a6f56,2016-12-27 15:14:10.947000+00:00,2017-12-26 00:00:00+00:00,fbaez@ned.cl,0.0,NaN,0.0,0.0,2016-12-27T15:14:10.947Z,NaN
1,5861903a33795733d89a6f56,2018-03-06 21:24:38.404000+00:00,2019-01-01 02:59:59.999000+00:00,fbaez@ned.cl,0.0,NaN,0.0,10990.0,2018-03-06T21:30:01.000Z,NaN
2,5861903a33795733d89a6f56,2019-01-02 19:06:07.719000+00:00,2020-02-01 02:59:59.999000+00:00,fbaez@ned.cl,0.0,NaN,0.0,10990.0,2019-01-02T19:06:07.719Z,NaN
3,5863db88986c554aebb4b278,2016-12-28 15:42:11.377000+00:00,2017-01-27 00:00:00+00:00,ricardo@ned.cl,0.0,NaN,0.0,0.0,2016-12-28T15:42:11.377Z,NaN
4,5863fde9986c554aebb4b27e,2016-12-28 18:14:41.783000+00:00,2017-01-27 00:00:00+00:00,epalominos@ned.cl,0.0,NaN,0.0,0.0,2016-12-28T18:14:41.783Z,NaN
...,...,...,...,...,...,...,...,...,...,...
14464,56ffc8527ed629d7085b4a62,2017-04-01 03:31:09.962000+00:00,2017-05-31 03:31:09.962000+00:00,hesalgad@gmail.com,7390.0,True,NaN,0.0,NA,NaN
14465,58dfbfe2965ca60b03b9efc8,2017-04-01 15:03:03.905000+00:00,2017-05-27 02:54:24.956000+00:00,carloosfiguero@gmail.com,7390.0,True,NaN,0.0,NA,NaN
14466,581e5bbcc651fdd1084116e2,2017-04-28 20:00:25.249000+00:00,2017-06-27 20:00:25.249000+00:00,irenearinka@hotmail.com,7390.0,True,NaN,0.0,NA,NaN
14467,5ab3c66cbf23d851c4c4fa8f,2018-03-22 15:15:02.971000+00:00,2018-03-28 21:50:57.505000+00:00,lcorrea+1@cdf.cl,7390.0,True,NaN,0.0,NA,NaN
14468,5ab3ca3533e28c747a751db8,2018-03-22 15:30:53.098000+00:00,2018-03-28 21:48:24.688000+00:00,hector.guldenaar@turner.com,7390.0,True,NaN,0.0,NA,NaN

## FILTRADO MES SEPTIEMBRE 2019

In [26]:
sep_2019_Acu_Vig=cupones_total.loc[(cupones_total['celebracion_contr']<'2019-10-01 00:00:00')&((cupones_total['fecha_fin_x']>'2019-09-30 23:59:59'))]

In [27]:
sep_2019_Acu_Vig.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1113 entries, 2 to 12921
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_Sernac                   1113 non-null   object
 1   celebracion_contr           1113 non-null   datetime64[ns, UTC]
 2   fecha_fin_x                 1113 non-null   datetime64[ns, UTC]
 3   email                       1113 non-null   object
 4   precio_mensual_suscripcion  1113 non-null   float64
 5   recurrente                  11 non-null     object
 6   __v                         962 non-null    float64
 7   monto                       1113 non-null   float64
 8   fecha_pago                  1113 non-null   object
 9   folio_boleta                0 non-null      float64
dtypes: datetime64[ns, UTC](2), float64(4), object(4)
memory usage: 95.6+ KB

In [28]:
sep_2019_Acu_Vig_no_Aplica=sep_2019_Acu_Vig.loc[sep_2019_Acu_Vig.fecha_pago=='NA']

In [29]:
sep_2019_Acu_Vig_no_Aplica.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 151 entries, 11 to 12900
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_Sernac                   151 non-null    object
 1   celebracion_contr           151 non-null    datetime64[ns, UTC]
 2   fecha_fin_x                 151 non-null    datetime64[ns, UTC]
 3   email                       151 non-null    object
 4   precio_mensual_suscripcion  151 non-null    float64
 5   recurrente                  3 non-null      object
 6   __v                         0 non-null      float64
 7   monto                       151 non-null    float64
 8   fecha_pago                  151 non-null    object
 9   folio_boleta                0 non-null      float64
dtypes: datetime64[ns, UTC](2), float64(4), object(4)
memory usage: 13.0+ KB

In [30]:
sep_2019_Acu_Vig_no_Aplica=sep_2019_Acu_Vig_no_Aplica.drop({'recurrente'},axis=1)

In [31]:
sep_2019_Acu_Vig_no_Aplica=sep_2019_Acu_Vig_no_Aplica.rename(columns={'fecha_fin_x':'fecha_fin','monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})

In [32]:
sep_2019_Acu_Vig_no_Aplica.columns

Index(['id_Sernac', 'celebracion_contr', 'fecha_fin', 'email',
       'precio_mensual_suscripcion', '__v', 'cant_pagada_ese_mes',
       'Fecha_fac_mes', 'folio_boleta'],
      dtype='object')

In [33]:
sep_2019_Acu_Vig_no_Aplica=sep_2019_Acu_Vig_no_Aplica.drop({ 
       'folio_boleta' },axis=1)

In [34]:
cupones_sep_2019=pd.read_csv("/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/parcial_sep_2019_cupones.csv")

In [35]:
cupones_sep_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cant_pagada_ese_mes         202 non-null    float64
 1   Fecha_fac_mes               202 non-null    object
 2   fecha_fin                   202 non-null    object
 3   email                       202 non-null    object
 4   id_Sernac                   202 non-null    object
 5   celebracion_contr           202 non-null    object
 6   valorRealProducto           202 non-null    int64
 7   precio_mensual_suscripcion  202 non-null    float64
 8   valorInternacional          0 non-null      float64
dtypes: float64(3), int64(1), object(5)
memory usage: 14.3+ KB

In [36]:
cupones_sep_2019.columns

Index(['cant_pagada_ese_mes', 'Fecha_fac_mes', 'fecha_fin', 'email',
       'id_Sernac', 'celebracion_contr', 'valorRealProducto',
       'precio_mensual_suscripcion', 'valorInternacional'],
      dtype='object')

In [37]:
sep_2019_Acu_Vig_no_Aplica.columns

Index(['id_Sernac', 'celebracion_contr', 'fecha_fin', 'email',
       'precio_mensual_suscripcion', '__v', 'cant_pagada_ese_mes',
       'Fecha_fac_mes'],
      dtype='object')

In [38]:
sep_2019_cupones_total=pd.concat([sep_2019_Acu_Vig_no_Aplica,cupones_sep_2019],axis=0)

In [39]:
sep_2019_cupones_total

,id_Sernac,celebracion_contr,fecha_fin,email,precio_mensual_suscripcion,__v,cant_pagada_ese_mes,Fecha_fac_mes,valorRealProducto,valorInternacional
11,563854d038176617515f3399,2016-12-29 00:12:13.699000+00:00,2020-12-31 00:00:00+00:00,azenobi@cdf.cl,0.0,NaN,0.0,NA,NaN,NaN
16,563854d538176617515f357d,2016-12-29 00:12:13.716000+00:00,2020-12-31 00:00:00+00:00,apalma@cdf.cl,0.0,NaN,0.0,NA,NaN,NaN
26,563854fe38176617515f452e,2016-12-29 00:12:13.786000+00:00,2020-12-31 00:00:00+00:00,pcortes@cdf.cl,0.0,NaN,0.0,NA,NaN,NaN
29,5638552338176617515f53af,2016-12-29 00:12:13.809000+00:00,2020-12-31 00:00:00+00:00,rpezoa@cdf.cl,0.0,NaN,0.0,NA,NaN,NaN
39,5638556738176617515f6dde,2016-12-29 00:12:13.886000+00:00,2020-12-31 00:00:00+00:00,jalcalde@jmtrust.cl,0.0,NaN,0.0,NA,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
197,5d9211a38b9da60c5c261747,2019-08-01T20:53:56.678Z,2020-03-28T23:59:59.999Z,ana.pasten@hotmail.com,0.0,NaN,65940.0,2019-09-30 15:19:02.162000+00:00,10990.0,NaN
198,5d6fea75147fab0a2d81c443,2018-04-19T15:14:35.874Z,2019-12-03T23:59:59.999Z,ropalem@gmail.com,0.0,NaN,32970.0,2019-09-04 20:25:45.184000+00:00,10990.0,NaN
199,5d794bf4abfd2a4390cc1824,2019-09-11T19:35:12.501Z,2020-01-09T23:59:59.999Z,hola@agenciavaliente.cl,0.0,NaN,43960.0,2019-09-11 19:35:45.667000+00:00,10990.0,NaN
200,5d7db522abe76f0a35fa464a,2019-05-16T20:26:54.022Z,2020-03-13T23:59:59.999Z,pataneitor@yahoo.com,0.0,NaN,65940.0,2019-09-15 03:52:31.541000+00:00,10990.0,NaN
201,5d8d419c6dac4f0c6412493c,2019-06-17T21:24:26.919Z,2020-06-22T23:59:59.999Z,whernner.51@gmail.com,0.0,NaN,98910.0,2019-09-26 23:01:46.849000+00:00,10990.0,NaN

In [40]:
sep_2019_cupones_total=sep_2019_cupones_total.drop_duplicates(['email'], keep='last')

In [41]:
sep_2019_cupones_total.to_csv('cupones_totales/sep_2019_cupones_total.csv', index=False)

## FILTRADO MES OCTUBRE 2019

In [42]:
oct_2019_Acu_Vig=cupones_total.loc[(cupones_total['celebracion_contr']<'2019-11-01 00:00:00')&((cupones_total['fecha_fin_x']>'2019-11-01 00:00:00'))]

oct_2019_Acu_Vig_no_Aplica=oct_2019_Acu_Vig.loc[oct_2019_Acu_Vig.fecha_pago=='NA']

oct_2019_Acu_Vig_no_Aplica=oct_2019_Acu_Vig_no_Aplica.drop({'recurrente'},axis=1)
oct_2019_Acu_Vig_no_Aplica=oct_2019_Acu_Vig_no_Aplica.rename(columns={'fecha_fin_x':'fecha_fin','monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})

oct_2019_Acu_Vig_no_Aplica=oct_2019_Acu_Vig_no_Aplica.rename(columns={'monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})
oct_2019_Acu_Vig_no_Aplica=oct_2019_Acu_Vig_no_Aplica.drop({ 
       'folio_boleta' },axis=1)

cupones_oct_2019=pd.read_csv("/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/parcial_oct_2019_cupones.csv")

oct_2019_cupones_total=pd.concat([oct_2019_Acu_Vig_no_Aplica,cupones_oct_2019],axis=0)

oct_2019_cupones_total=oct_2019_cupones_total.drop_duplicates(['email'], keep='last')

oct_2019_cupones_total.to_csv('cupones_totales/oct_2019_cupones_total.csv', index=False)

## FILTRADO MES NOVIEMBRE 2019

In [43]:
nov_2019_Acu_Vig=cupones_total.loc[(cupones_total['celebracion_contr']<'2019-12-01 00:00:00')&((cupones_total['fecha_fin_x']>'2019-12-01 00:00:00'))]

nov_2019_Acu_Vig_no_Aplica=nov_2019_Acu_Vig.loc[nov_2019_Acu_Vig.fecha_pago=='NA']
nov_2019_Acu_Vig_no_Aplica=nov_2019_Acu_Vig_no_Aplica.drop({'recurrente'},axis=1)
nov_2019_Acu_Vig_no_Aplica=nov_2019_Acu_Vig_no_Aplica.rename(columns={'fecha_fin_x':'fecha_fin','monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})


nov_2019_Acu_Vig_no_Aplica=nov_2019_Acu_Vig_no_Aplica.rename(columns={'monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})
nov_2019_Acu_Vig_no_Aplica=nov_2019_Acu_Vig_no_Aplica.drop({  
       'folio_boleta' },axis=1)
cupones_nov_2019=pd.read_csv("/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/parcial_nov_2019_cupones.csv")

nov_2019_cupones_total=pd.concat([nov_2019_Acu_Vig_no_Aplica,cupones_nov_2019],axis=0)

nov_2019_cupones_total=nov_2019_cupones_total.drop_duplicates(['email'], keep='last')

nov_2019_cupones_total.to_csv('cupones_totales/nov_2019_cupones_total.csv', index=False)

## FILTRADO MES DICIEMBRE 2019

In [44]:
dic_2019_Acu_Vig=cupones_total.loc[(cupones_total['celebracion_contr']<'2020-01-01 00:00:00')&((cupones_total['fecha_fin_x']>'2020-01-01 00:00:00'))]

dic_2019_Acu_Vig_no_Aplica=dic_2019_Acu_Vig.loc[dic_2019_Acu_Vig.fecha_pago=='NA']

dic_2019_Acu_Vig_no_Aplica=dic_2019_Acu_Vig_no_Aplica.drop({'recurrente'},axis=1)
dic_2019_Acu_Vig_no_Aplica=dic_2019_Acu_Vig_no_Aplica.rename(columns={'fecha_fin_x':'fecha_fin','monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})


dic_2019_Acu_Vig_no_Aplica=dic_2019_Acu_Vig_no_Aplica.rename(columns={'monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})
dic_2019_Acu_Vig_no_Aplica=dic_2019_Acu_Vig_no_Aplica.drop({  
       'folio_boleta' },axis=1)
cupones_dic_2019=pd.read_csv("/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/parcial_dic_2019_cupones.csv")

dic_2019_cupones_total=pd.concat([dic_2019_Acu_Vig_no_Aplica,cupones_dic_2019],axis=0)

dic_2019_cupones_total=dic_2019_cupones_total.drop_duplicates(['email'], keep='last')

dic_2019_cupones_total.to_csv('cupones_totales/dic_2019_cupones_total.csv', index=False)

## FILTRADO MES ENERO 2020

In [45]:
ene_2020_Acu_Vig=cupones_total.loc[(cupones_total['celebracion_contr']<'2020-02-01 00:00:00')&((cupones_total['fecha_fin_x']>'2020-02-01 00:00:00'))]

ene_2020_Acu_Vig_no_Aplica=ene_2020_Acu_Vig.loc[ene_2020_Acu_Vig.fecha_pago=='NA']

ene_2020_Acu_Vig_no_Aplica=ene_2020_Acu_Vig_no_Aplica.drop({'recurrente'},axis=1)
ene_2020_Acu_Vig_no_Aplica=ene_2020_Acu_Vig_no_Aplica.rename(columns={'fecha_fin_x':'fecha_fin','monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})


ene_2020_Acu_Vig_no_Aplica=ene_2020_Acu_Vig_no_Aplica.rename(columns={'monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})
ene_2020_Acu_Vig_no_Aplica=ene_2020_Acu_Vig_no_Aplica.drop({  
       'folio_boleta' },axis=1)
cupones_ene_2020=pd.read_csv("/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/parcial_ene_2020_cupones.csv")

ene_2020_cupones_total=pd.concat([ene_2020_Acu_Vig_no_Aplica,cupones_ene_2020],axis=0)

ene_2020_cupones_total=ene_2020_cupones_total.drop_duplicates(['email'], keep='last')

ene_2020_cupones_total.to_csv('cupones_totales/ene_2020_cupones_total.csv', index=False)

## FILTRADO MES FEBRERO 2020

In [46]:
feb_2020_Acu_Vig=cupones_total.loc[(cupones_total['celebracion_contr']<'2020-03-01 00:00:00')&((cupones_total['fecha_fin_x']>'2020-03-01 00:00:00'))]

feb_2020_Acu_Vig_no_Aplica=feb_2020_Acu_Vig.loc[feb_2020_Acu_Vig.fecha_pago=='NA']

feb_2020_Acu_Vig_no_Aplica=feb_2020_Acu_Vig_no_Aplica.drop({'recurrente'},axis=1)
feb_2020_Acu_Vig_no_Aplica=feb_2020_Acu_Vig_no_Aplica.rename(columns={'fecha_fin_x':'fecha_fin','monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})



feb_2020_Acu_Vig_no_Aplica=feb_2020_Acu_Vig_no_Aplica.rename(columns={'monto':'cant_pagada_ese_mes','fecha_pago':'Fecha_fac_mes'})
feb_2020_Acu_Vig_no_Aplica=feb_2020_Acu_Vig_no_Aplica.drop({  
       'folio_boleta' },axis=1)
cupones_feb_2020=pd.read_csv("/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/parcial_feb_2020_cupones.csv")

feb_2020_cupones_total=pd.concat([feb_2020_Acu_Vig_no_Aplica,cupones_feb_2020],axis=0)

feb_2020_cupones_total=feb_2020_cupones_total.drop_duplicates(['email'], keep='last')

feb_2020_cupones_total.to_csv('cupones_totales/feb_2020_cupones_total.csv', index=False)