### PREPARACION PARA ADOBE

Este documento busca la data , la relaciona y la sirve de acuerdo a las tablas y tipos de datos que solicitÃ³ el partner

In [1]:
import pandas as pd
from pymongo import MongoClient
from datetime import timedelta

In [2]:
import datetime 
import pymongo

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb2 = myclient["ecdf"]
mycol_users = mydb2["users"]
mycol_clientes = mydb2["clientes"]

In [4]:
def users_to_dataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
users = users_to_dataframes(mycol_users.find({},{'_id':1,'email':1,'cliente_id':1,'createdAt':1}), 10000)

print(users.count())

_id           434201
createdAt     434200
cliente_id    434141
email         434201
dtype: int64

In [5]:
datetime.datetime.today()

datetime.datetime(2020, 4, 21, 11, 39, 37, 544769)

Excluir los usuarios anteriores al 2017

In [6]:
users['createdAt'] = pd.to_datetime(users['createdAt'])

In [7]:
users=users.loc[users['createdAt'] > '2017-01-01 00:00:00.904716']

#### LoginSummary TABLE

In [8]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286777 entries, 7421 to 4200
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   _id         286777 non-null  object
 1   createdAt   286777 non-null  datetime64[ns]
 2   cliente_id  286717 non-null  object
 3   email       286777 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 10.9+ MB

In [9]:
def users_to_dataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
users = users_to_dataframes(mycol_users.find({},{'_id':1,'email':1,'cliente_id':1,'createdAt':1}), 10000)

print(users.count())

_id           434201
createdAt     434200
cliente_id    434141
email         434201
dtype: int64

In [10]:
users=users.rename(columns={ "_id": "user_id"})

user_email=user_email.head(150) #CORTANDO EL DATASET PARA QUE PUEDA SER PROCESADO POR MI LAPTOP

user_email._id.nunique()

Eliminando los user_id nulos

In [11]:
users.drop(users[users.email.isnull()].index, inplace = True)

In [12]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434201 entries, 0 to 4200
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_id     434201 non-null  object
 1   createdAt   434200 non-null  datetime64[ns]
 2   cliente_id  434141 non-null  object
 3   email       434201 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 16.6+ MB

 AHORA BUSCAMOS LAS CONEXIONES

In [13]:
mydb2 = myclient["ecdf"]
mycol_conexion = mydb2["Conexion"]

In [14]:
def conexiones_to_dataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
conexiones = conexiones_to_dataframes(mycol_conexion.find({},{'_user':1,'email':1,'createdAt':1}), 10000)

print(conexiones.count())

_id          4107119
_user        4107119
createdAt    4107119
email        2091686
dtype: int64

In [15]:
conexiones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4107119 entries, 0 to 7118
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   _id        object
 1   _user      object
 2   createdAt  object
 3   email      object
dtypes: object(4)
memory usage: 156.7+ MB

In [16]:
conexiones=conexiones.rename(columns={'createdAt':'fecha_conexion','_user':'user_id'})

In [17]:
mydb3 = myclient["apiUser"]
mycol_usersautomaticos = mydb3["usersautomaticos"]

In [18]:
def usersautomaticos_to_dataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
usersautomaticos =usersautomaticos_to_dataframes(mycol_usersautomaticos.find({},{'_user':1,'createdAt':1}), 10000)

print(usersautomaticos.count())

_id          4199866
createdAt    4199866
_user        4199866
dtype: int64

In [19]:
usersautomaticos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4199866 entries, 0 to 9865
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   _id        object
 1   createdAt  object
 2   _user      object
dtypes: object(3)
memory usage: 128.2+ MB

In [20]:
usersautomaticos=usersautomaticos.rename(columns={'createdAt':'fecha_conexion','_user':'user_id'})

In [21]:
mydb3 = myclient["logins"]
mycol_conexLog = mydb3["conexiones"]

In [22]:
def mycol_conexLog_to_dataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
conexLog =mycol_conexLog_to_dataframes(mycol_conexLog.find({},{'user_id':1,'fecha_conexion':1}), 10000)

print(conexLog.count())

_id               231737
fecha_conexion    231737
user_id           231737
dtype: int64

In [23]:
conexLog.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231737 entries, 0 to 1736
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   _id             231737 non-null  object
 1   fecha_conexion  231737 non-null  datetime64[ns]
 2   user_id         231737 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 7.1+ MB

Unifico los accesos

In [24]:
accesos=pd.concat([conexLog, usersautomaticos,conexiones], axis=0)

In [25]:
accesos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8538722 entries, 0 to 7118
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   _id             object
 1   fecha_conexion  object
 2   user_id         object
 3   email           object
dtypes: object(4)
memory usage: 325.7+ MB

In [26]:
accesos=accesos.drop([ 'email'],axis=1)

In [27]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434201 entries, 0 to 4200
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_id     434201 non-null  object
 1   createdAt   434200 non-null  datetime64[ns]
 2   cliente_id  434141 non-null  object
 3   email       434201 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 16.6+ MB

In [28]:
users=users.drop([ 'email','cliente_id'],axis=1)

In [29]:
user_conexiones= users.merge(accesos, on=['user_id'], how="outer", indicator=True)

In [30]:
user_conexiones.count()

user_id           8937945
createdAt          630959
_id               8538722
fecha_conexion    8538722
_merge            8937945
dtype: int64

In [31]:
##A PARTIR DE AQUÃ SE TIENE QUE IR HOMOLOGANDO EL CÃDIGO

In [32]:
accesConsolidado=user_conexiones.drop([ 'createdAt','_id','_merge'],axis=1)

In [33]:
accesConsolidado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8937945 entries, 0 to 8937944
Data columns (total 2 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   fecha_conexion  object
dtypes: object(2)
memory usage: 204.6+ MB

In [34]:
accesConsolidado

                          user_id            fecha_conexion
0        563857913817661751603df2                       NaN
1        563857913817661751603df1                       NaN
2        563857913817661751603df9                       NaN
3        563857913817661751603e0c                       NaN
4        563857913817661751603e11                       NaN
...                           ...                       ...
8937940  5e190d7c6bd40277102b8483  2020-01-10T23:50:23.182Z
8937941  5e190e9f98204e759cecc8fa  2020-01-10T23:55:23.468Z
8937942  5e19228f5c965677169f4107  2020-01-11T01:22:05.757Z
8937943  5e19228f5c965677169f4107  2020-01-11T01:24:19.551Z
8937944  5e1948cf540e90771c507c79  2020-01-11T04:03:14.720Z

[8937945 rows x 2 columns]

accesConsolidado = accesConsolidado.dropna(axis=0, subset=['fecha_conexion'])

In [35]:
accesConsolidado['fecha_conexion'] = pd.to_datetime(accesConsolidado['fecha_conexion'])

In [36]:
accesConsolidado.fecha_conexion.min()

Timestamp('2018-03-20 16:52:16.885000+0000', tz='UTC')

In [37]:
accesConsolidado.fecha_conexion.max()

Timestamp('2020-03-24 20:59:20.358000+0000', tz='UTC')

In [38]:
accesConsolidadoLife=accesConsolidado.groupby('user_id').agg(conexioneslife=('fecha_conexion','count'))

In [39]:
accesConsolidadoLife

                          conexioneslife
user_id
563854bd38176617515f2bee               0
563854bd38176617515f2bef               0
563854bd38176617515f2bf0               0
563854bd38176617515f2bf1               0
563854bd38176617515f2bf2               0
...                                  ...
5e7a5ad87c0c1e0ab721b63d               1
5e7a65e16d1f2b0aa7ac4acc               1
5e7a67157c0c1e0ab721b65b               1
5e7a69d31f3fe30d84908b79               1
5e7a718d1f3fe30d84908b9f               1

[591311 rows x 1 columns]

###  Ahora hay que segmentar por fecha para ir llenando la tabla

In [40]:
ultimos30dias=pd.to_datetime((datetime.datetime.today() - timedelta(days=30)))

In [41]:
ultimos30dias

Timestamp('2020-03-22 11:41:31.996019')

In [42]:
ultimos30dias=ultimos30dias.tz_localize('UTC')

Con rebeca

In [43]:
mes_hoy=datetime.datetime.today().month

In [44]:
mes_ant=mes_hoy-1

In [45]:
primer_diamesAnterior=pd.to_datetime(datetime.datetime.today().replace(month=mes_ant,day=1,hour=00,minute=0,second=0,microsecond=0))

In [46]:
primer_diamesAnterior=primer_diamesAnterior.tz_localize('UTC')

In [47]:
ultimo_diamesAnterir=pd.to_datetime(datetime.datetime.today().replace(day=1,hour=00,minute=0,second=0,microsecond=0))

In [48]:
ultimo_diamesAnterir=ultimo_diamesAnterir.tz_localize('UTC')

In [49]:
ultimos30dias

Timestamp('2020-03-22 11:41:31.996019+0000', tz='UTC')

In [50]:
accesConsolidado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8937945 entries, 0 to 8937944
Data columns (total 2 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   fecha_conexion  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 524.6+ MB

In [51]:
user_conexionesLast30Days=accesConsolidado.loc[accesConsolidado['fecha_conexion'] > ultimos30dias]

In [52]:
user_conexionesLast30Days.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4712 entries, 717078 to 8868414
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         4712 non-null   object
 1   fecha_conexion  4712 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 110.4+ KB

In [53]:
user_conexionesLast30Days.user_id.nunique()

2909

In [54]:
user_conexionesLast30Days=user_conexionesLast30Days.groupby('user_id').agg(conexionesLast30Days=('fecha_conexion','count'))

In [55]:
user_conexionesLast30Days

                          conexionesLast30Days
user_id
563854be38176617515f2c5c                     1
563854bf38176617515f2cee                     1
563854c038176617515f2d56                     2
563854c238176617515f2dfa                     1
563854c238176617515f2e0e                     1
...                                        ...
5e7a5ad87c0c1e0ab721b63d                     1
5e7a65e16d1f2b0aa7ac4acc                     1
5e7a67157c0c1e0ab721b65b                     1
5e7a69d31f3fe30d84908b79                     1
5e7a718d1f3fe30d84908b9f                     1

[2909 rows x 1 columns]

#### Obtener el Ãºltimo login

In [56]:
cusLastLoginDate=accesConsolidado.groupby('user_id').agg(cusLastLoginDate=('fecha_conexion','last'))

In [57]:
cusLastLoginDate

                                         cusLastLoginDate
user_id
563854bd38176617515f2bee                              NaT
563854bd38176617515f2bef                              NaT
563854bd38176617515f2bf0                              NaT
563854bd38176617515f2bf1                              NaT
563854bd38176617515f2bf2                              NaT
...                                                   ...
5e7a5ad87c0c1e0ab721b63d 2020-03-24 19:11:07.081000+00:00
5e7a65e16d1f2b0aa7ac4acc 2020-03-24 20:00:15.458000+00:00
5e7a67157c0c1e0ab721b65b 2020-03-24 20:02:25.965000+00:00
5e7a69d31f3fe30d84908b79 2020-03-24 20:14:42.848000+00:00
5e7a718d1f3fe30d84908b9f 2020-03-24 20:57:08.529000+00:00

[591311 rows x 1 columns]

#### Obtener cusLoginsThisMonth

In [58]:
hoy=datetime.datetime.today()

In [59]:
primer_diames=pd.to_datetime(datetime.datetime.today().replace(day=1,hour=00,minute=0,second=0,microsecond=0))

In [60]:
primer_diames=primer_diames.tz_localize('UTC')

In [61]:
primer_diames

Timestamp('2020-04-01 00:00:00+0000', tz='UTC')

In [62]:
user_cusLoginsThisMonth=accesConsolidado.loc[accesConsolidado['fecha_conexion'] > primer_diames]

In [63]:
user_cusLoginsThisMonth=user_cusLoginsThisMonth.groupby('user_id').agg(cusLoginsThisMonth=('fecha_conexion', 'count') )

In [64]:
user_cusLoginsThisMonth

Empty DataFrame
Columns: [cusLoginsThisMonth]
Index: []

#### Obtener cusLoginsPreviousMonth

In [65]:
primer_diamesAnterior

Timestamp('2020-03-01 00:00:00+0000', tz='UTC')

In [66]:
ultimo_diamesAnterir

Timestamp('2020-04-01 00:00:00+0000', tz='UTC')

In [67]:
user_conexiones_cusLoginsPreviousMonth=accesConsolidado.loc[(accesConsolidado['fecha_conexion'] > primer_diamesAnterior)&(accesConsolidado['fecha_conexion'] < ultimo_diamesAnterir)]

In [68]:
user_conexiones_cusLoginsPreviousMonth.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194965 entries, 636239 to 8868414
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         194965 non-null  object
 1   fecha_conexion  194965 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 4.5+ MB

In [69]:
user_conexiones_cusLoginsPreviousMonth=user_conexiones_cusLoginsPreviousMonth.groupby('user_id').agg(cusLoginsPreviousMonth=('fecha_conexion','count') )

In [70]:
user_conexiones_cusLoginsPreviousMonth

                          cusLoginsPreviousMonth
user_id
563854bd38176617515f2c19                       5
563854bd38176617515f2c31                       7
563854be38176617515f2c3e                      17
563854be38176617515f2c5c                      41
563854bf38176617515f2cbe                       3
...                                          ...
5e7a5ad87c0c1e0ab721b63d                       1
5e7a65e16d1f2b0aa7ac4acc                       1
5e7a67157c0c1e0ab721b65b                       1
5e7a69d31f3fe30d84908b79                       1
5e7a718d1f3fe30d84908b9f                       1

[22599 rows x 1 columns]

#### Obtener cusLoginsLast3MonthsÂ

In [71]:
def periodo3():
    hoy=datetime.datetime.today()
    mes_hoy=hoy.month
    mes_last3Month=mes_hoy-3
    if (mes_last3Month == 0):
        mes_last3Month=12
        ano=hoy.year-1
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
        limite_izq=limite_izq.tz_localize('UTC')
        print(limite_izq)
    if (mes_last3Month == -1):
        mes_last3Month=11
        ano=hoy.year-1
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
    if (mes_last3Month == -2):
        mes_last3Month=10
        ano=hoy.year-1
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
    else:
        ano=hoy.year
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
        limite_izq=limite_izq.tz_localize('UTC')
        return limite_izq

In [72]:
mes_inici3=periodo3()

In [73]:
mes_inici3

Timestamp('2020-01-01 00:00:00+0000', tz='UTC')

In [74]:
ultimo_diamesAnterir

Timestamp('2020-04-01 00:00:00+0000', tz='UTC')

In [75]:
user_conexiones_cusLoginsLast3Months=accesConsolidado.loc[(accesConsolidado['fecha_conexion'] > mes_inici3)&(accesConsolidado['fecha_conexion'] < ultimo_diamesAnterir)]

In [76]:
user_conexiones_cusLoginsLast3Months=user_conexiones_cusLoginsLast3Months.groupby('user_id').agg(cusLoginsLast3Months=('fecha_conexion', 'count') )

In [77]:
user_conexiones_cusLoginsLast3Months

                          cusLoginsLast3Months
user_id
563854bd38176617515f2c09                     2
563854bd38176617515f2c19                    16
563854bd38176617515f2c31                     6
563854be38176617515f2c3e                    17
563854be38176617515f2c4d                     6
...                                        ...
5e7a5ad87c0c1e0ab721b63d                     1
5e7a65e16d1f2b0aa7ac4acc                     1
5e7a67157c0c1e0ab721b65b                     1
5e7a69d31f3fe30d84908b79                     1
5e7a718d1f3fe30d84908b9f                     1

[88071 rows x 1 columns]

#### Obtener cusLoginsLast12Months

In [78]:
def periodo12():
    hoy=datetime.datetime.today()
    month=hoy.month
    ano=hoy.year-1
    limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=month,day=1,hour=00,minute=0,second=0,microsecond=0))
    limite_izq=limite_izq.tz_localize('UTC')

    return limite_izq

In [79]:
mes_inici12=periodo12()

In [80]:
mes_inici12

Timestamp('2019-04-01 00:00:00+0000', tz='UTC')

In [81]:
user_conexiones_cusLoginsLast12Months=accesConsolidado.loc[(accesConsolidado['fecha_conexion']>mes_inici12)&(accesConsolidado['fecha_conexion'] < ultimo_diamesAnterir)]

In [82]:
user_conexiones_cusLoginsLast12Months=user_conexiones_cusLoginsLast12Months.groupby('user_id').agg(cusLoginsLast12Months=('fecha_conexion','count'))

In [83]:
user_conexiones_cusLoginsLast12Months

                          cusLoginsLast12Months
user_id
563854bd38176617515f2c09                      2
563854bd38176617515f2c19                     16
563854bd38176617515f2c31                      6
563854be38176617515f2c3e                     17
563854be38176617515f2c4d                      6
...                                         ...
5e7a5ad87c0c1e0ab721b63d                      1
5e7a65e16d1f2b0aa7ac4acc                      1
5e7a67157c0c1e0ab721b65b                      1
5e7a69d31f3fe30d84908b79                      1
5e7a718d1f3fe30d84908b9f                      1

[147934 rows x 1 columns]

In [84]:
type(user_conexiones_cusLoginsLast12Months)

pandas.core.frame.DataFrame

In [85]:
user_conexiones_cusLoginsBefore12Month=accesConsolidado.loc[(accesConsolidado['fecha_conexion']<mes_inici12)&(accesConsolidado['fecha_conexion'] < ultimo_diamesAnterir)]

In [86]:
user_conexiones_cusLoginsBefore12Month=user_conexiones_cusLoginsBefore12Month.groupby('user_id').agg(LoginsBefore12Month=('fecha_conexion','count'))

## ARMANDO LA TABLA FINAL

In [87]:
frames = [cusLastLoginDate, user_cusLoginsThisMonth, user_conexionesLast30Days,user_conexiones_cusLoginsPreviousMonth,user_conexiones_cusLoginsLast3Months,user_conexiones_cusLoginsLast12Months,accesConsolidadoLife]

In [88]:
CDF_LoginSummary = pd.concat(frames)

In [89]:
CDF_LoginSummary

,cusLastLoginDate,cusLoginsThisMonth,conexionesLast30Days,cusLoginsPreviousMonth,cusLoginsLast3Months,cusLoginsLast12Months,conexioneslife
user_id,,,,,,,
563854bd38176617515f2bee,NaT,NaN,NaN,NaN,NaN,NaN,NaN
563854bd38176617515f2bef,NaT,NaN,NaN,NaN,NaN,NaN,NaN
563854bd38176617515f2bf0,NaT,NaN,NaN,NaN,NaN,NaN,NaN
563854bd38176617515f2bf1,NaT,NaN,NaN,NaN,NaN,NaN,NaN
563854bd38176617515f2bf2,NaT,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5e7a5ad87c0c1e0ab721b63d,NaT,NaN,NaN,NaN,NaN,NaN,1.0
5e7a65e16d1f2b0aa7ac4acc,NaT,NaN,NaN,NaN,NaN,NaN,1.0
5e7a67157c0c1e0ab721b65b,NaT,NaN,NaN,NaN,NaN,NaN,1.0
5e7a69d31f3fe30d84908b79,NaT,NaN,NaN,NaN,NaN,NaN,1.0
5e7a718d1f3fe30d84908b9f,NaT,NaN,NaN,NaN,NaN,NaN,1.0

In [90]:
table=pd.concat([cusLastLoginDate,user_cusLoginsThisMonth, user_conexionesLast30Days,user_conexiones_cusLoginsPreviousMonth,user_conexiones_cusLoginsLast3Months,user_conexiones_cusLoginsLast12Months,accesConsolidadoLife], axis=1, sort=False)

In [91]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 591311 entries, 563854bd38176617515f2bee to 5e7a718d1f3fe30d84908b9f
Data columns (total 7 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   cusLastLoginDate        192088 non-null  datetime64[ns, UTC]
 1   cusLoginsThisMonth      0 non-null       float64
 2   conexionesLast30Days    2909 non-null    float64
 3   cusLoginsPreviousMonth  22599 non-null   float64
 4   cusLoginsLast3Months    88071 non-null   float64
 5   cusLoginsLast12Months   147934 non-null  float64
 6   conexioneslife          591311 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 36.1+ MB

In [92]:
table=table.rename(columns={'cusLastLoginDate':'LAST_LOGIN_DATE','cusLastLoginDate':'LAST_LOGIN_DATE','cusLoginsLifetime':'LOGINS_LIFETIME','cusLoginsThisMonth':'LOGINS_THIS_MONTH','conexionesLast30Days':'LOGINS_LAST_30_DAYS','cusLoginsPreviousMonth':'LOGINS_PREVIOUS_MONTH','cusLoginsLast3Months':'LOGINS_LAST_3_MONTHS','cusLoginsLast12Months':'LOGINS_LAST_12_MONTHS','conexioneslife':'LOGINS_LIFETIME'})

In [93]:
table

,LAST_LOGIN_DATE,LOGINS_THIS_MONTH,LOGINS_LAST_30_DAYS,LOGINS_PREVIOUS_MONTH,LOGINS_LAST_3_MONTHS,LOGINS_LAST_12_MONTHS,LOGINS_LIFETIME
563854bd38176617515f2bee,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bef,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bf0,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bf1,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bf2,NaT,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...
5e7a5ad87c0c1e0ab721b63d,2020-03-24 19:11:07.081000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a65e16d1f2b0aa7ac4acc,2020-03-24 20:00:15.458000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a67157c0c1e0ab721b65b,2020-03-24 20:02:25.965000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a69d31f3fe30d84908b79,2020-03-24 20:14:42.848000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a718d1f3fe30d84908b9f,2020-03-24 20:57:08.529000+00:00,NaN,1.0,1.0,1.0,1.0,1

table.loc[table.LOGINS_LAST_12_MONTHS.notnull()]

In [94]:
table['CUSTOMER_ID'] = table.index

table=table.fillna(0)

In [95]:
table = table[['CUSTOMER_ID','LAST_LOGIN_DATE','LOGINS_THIS_MONTH','LOGINS_LAST_30_DAYS','LOGINS_PREVIOUS_MONTH','LOGINS_LAST_3_MONTHS','LOGINS_LAST_12_MONTHS','LOGINS_LIFETIME']]

In [96]:
table

,CUSTOMER_ID,LAST_LOGIN_DATE,LOGINS_THIS_MONTH,LOGINS_LAST_30_DAYS,LOGINS_PREVIOUS_MONTH,LOGINS_LAST_3_MONTHS,LOGINS_LAST_12_MONTHS,LOGINS_LIFETIME
563854bd38176617515f2bee,563854bd38176617515f2bee,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bef,563854bd38176617515f2bef,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bf0,563854bd38176617515f2bf0,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bf1,563854bd38176617515f2bf1,NaT,NaN,NaN,NaN,NaN,NaN,0
563854bd38176617515f2bf2,563854bd38176617515f2bf2,NaT,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
5e7a5ad87c0c1e0ab721b63d,5e7a5ad87c0c1e0ab721b63d,2020-03-24 19:11:07.081000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a65e16d1f2b0aa7ac4acc,5e7a65e16d1f2b0aa7ac4acc,2020-03-24 20:00:15.458000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a67157c0c1e0ab721b65b,5e7a67157c0c1e0ab721b65b,2020-03-24 20:02:25.965000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a69d31f3fe30d84908b79,5e7a69d31f3fe30d84908b79,2020-03-24 20:14:42.848000+00:00,NaN,1.0,1.0,1.0,1.0,1
5e7a718d1f3fe30d84908b9f,5e7a718d1f3fe30d84908b9f,2020-03-24 20:57:08.529000+00:00,NaN,1.0,1.0,1.0,1.0,1

 #### Ahora vamos a determinar el nombre y el path

In [97]:
name='cdf_loginSummary_'+datetime.datetime.today().strftime('%Y%m%d_%H%M%S')

In [98]:
name

'cdf_loginSummary_20200421_114149'

In [99]:
path='/home/tecnoboy/'+name+'.csv'

In [100]:
path

'/home/tecnoboy/cdf_loginSummary_20200421_114149.csv'

In [101]:
table.columns

Index(['CUSTOMER_ID', 'LAST_LOGIN_DATE', 'LOGINS_THIS_MONTH',
       'LOGINS_LAST_30_DAYS', 'LOGINS_PREVIOUS_MONTH', 'LOGINS_LAST_3_MONTHS',
       'LOGINS_LAST_12_MONTHS', 'LOGINS_LIFETIME'],
      dtype='object')

In [102]:
table['CUSTOMER_ID']=table['CUSTOMER_ID'].apply(str)

In [103]:
table['CUSTOMER_ID'] = '"' + table['CUSTOMER_ID'] + '"'

In [104]:
table['LAST_LOGIN_DATE']=table['LAST_LOGIN_DATE'].apply(str)

In [105]:
table['LAST_LOGIN_DATE']=table['LAST_LOGIN_DATE'].map(lambda x: str(x)[:19])

In [106]:
table['LOGINS_THIS_MONTH']=table['LOGINS_THIS_MONTH'].fillna(0)

In [107]:
table['LOGINS_LAST_3_MONTHS']=table['LOGINS_LAST_3_MONTHS'].fillna(0)

In [108]:
table['LOGINS_LAST_30_DAYS']=table['LOGINS_LAST_30_DAYS'].fillna(0)

In [109]:
table['LOGINS_PREVIOUS_MONTH']=table['LOGINS_PREVIOUS_MONTH'].fillna(0)

In [110]:
table['LOGINS_LAST_3_MONTHS']=table['LOGINS_LAST_3_MONTHS'].fillna(0)

In [111]:
table['LOGINS_LAST_12_MONTHS']=table['LOGINS_LAST_12_MONTHS'].fillna(0)

In [112]:
table['LOGINS_LIFETIME']=table['LOGINS_LIFETIME'].fillna(0)

In [113]:
table['LOGINS_THIS_MONTH']=table['LOGINS_THIS_MONTH'].astype(int)

In [114]:
table['LOGINS_LAST_3_MONTHS']=table['LOGINS_LAST_3_MONTHS'].astype(int)

In [115]:
table['LOGINS_LAST_30_DAYS']=table['LOGINS_LAST_30_DAYS'].astype(int)

In [116]:
table['LOGINS_PREVIOUS_MONTH']=table['LOGINS_PREVIOUS_MONTH'].astype(int)

In [117]:
table['LOGINS_LAST_3_MONTHS']=table['LOGINS_LAST_3_MONTHS'].astype(int)

In [118]:
table['LOGINS_LAST_12_MONTHS']=table['LOGINS_LAST_12_MONTHS'].astype(int)

In [119]:
table['LOGINS_LIFETIME']=table['LOGINS_LIFETIME'].astype(int)

In [120]:
table.to_csv(path, index=False)