### PREPARACION PARA ADOBE

Este documento busca la data , la relaciona y la sirve de acuerdo a las tablas y tipos de datos que solicit√≥ el partner

In [3]:
import pandas as pd
from pymongo import MongoClient
client = MongoClient()
db = client.ecdf
collection_user = db.users
USERS = pd.DataFrame(list(collection_user.find()))

InvalidBSON: year -121938 is out of range

In [ ]:
import datetime

In [2]:
datetime.datetime.today()

NameError: name 'datetime' is not defined

In [227]:
from datetime import timedelta

In [228]:
USERS=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/users.csv")

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (11,12,13,15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### LoginSummary TABLE

In [229]:
USERS.columns

Index(['_id', 'updatedAt', 'createdAt', 'email', 'password', 'nombre',
       'apellido', 'estado_token', 'pasarela', 'material', 'dispositivos',
       'propiedades.0.beta', 'baneado', 'estado', 'tipo', 'verificado',
       '_roles', '__v', '_cliente', 'cliente_id', 'fecha_nacimiento',
       '_transaccion', '_acuerdo', '_producto', 'fecha_fin', 'fecha_pago',
       'fecha_acuerdo', 'email_recuperacion', 'fecha_cancelacion', 'genero'],
      dtype='object')

In [230]:
id_user=USERS.drop([
    'updatedAt', 'createdAt', 'email', 'password', 'nombre',
       'apellido', 'estado_token', 'pasarela', 'material', 'dispositivos',
       'propiedades.0.beta', 'baneado', 'estado', 'tipo', 'verificado',
       '_roles', '__v', '_cliente',  'fecha_nacimiento',
       'email_recuperacion', 'genero', '_acuerdo', 'fecha_acuerdo',
       'fecha_fin', 'fecha_pago', 'fecha_cancelacion', '_transaccion',
       '_producto'],axis=1)

In [231]:
id_user.columns

Index(['_id', 'cliente_id'], dtype='object')

In [232]:
id_user=id_user.rename(columns={ "_id": "user_id"})

In [233]:
CLIENTES=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/clientes.csv")

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Se le quiere a√±adir el id de usuario a la tabla de clientes

In [234]:
CLIENTES['cliente_id']=CLIENTES['_id']

In [235]:
CLIENTES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432752 entries, 0 to 432751
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 432752 non-null  object
 1   updatedAt           432751 non-null  object
 2   createdAt           432751 non-null  object
 3   nombre              432278 non-null  object
 4   apellidoPaterno     432389 non-null  object
 5   email               432752 non-null  object
 6   codigoPais          144898 non-null  object
 7   __v                 432751 non-null  float64
 8   email_recuperacion  2445 non-null    object
 9   equipo_favorito     211160 non-null  object
 10  favorito            113670 non-null  float64
 11  fecha_nacimiento    349170 non-null  object
 12  telefono            2497 non-null    object
 13  rut                 256637 non-null  object
 14  pais                150107 non-null  object
 15  genero              261295 non-null  object
 16  cliente_id          432752 non-null  object
dtypes: float64(2), object(15)
memory usage: 56.1+ MB

//CORTANDO EL DATASET PARA QUE PUEDA SER PROCESADO POR MI LAPTOP

In [236]:
id_user=id_user

In [237]:
user_email= CLIENTES.merge(id_user, on=['cliente_id'], how="left", indicator=True)

In [238]:
user_email.columns

Index(['_id', 'updatedAt', 'createdAt', 'nombre', 'apellidoPaterno', 'email',
       'codigoPais', '__v', 'email_recuperacion', 'equipo_favorito',
       'favorito', 'fecha_nacimiento', 'telefono', 'rut', 'pais', 'genero',
       'cliente_id', 'user_id', '_merge'],
      dtype='object')

In [239]:
user_email=user_email.drop([ 'updatedAt', 'createdAt', 'nombre', 'apellidoPaterno', 
       'codigoPais', '__v', 'email_recuperacion', 'equipo_favorito',
       'favorito', 'fecha_nacimiento', 'telefono', 'rut', 'pais', 'genero', '_merge'],axis=1)

In [240]:
user_email['CUSTOMER_ID'] = user_email.index

In [241]:
user_email.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 432755 entries, 0 to 432754
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   _id          432755 non-null  object
 1   email        432755 non-null  object
 2   cliente_id   432755 non-null  object
 3   user_id      432688 non-null  object
 4   CUSTOMER_ID  432755 non-null  int64
dtypes: int64(1), object(4)
memory usage: 19.8+ MB

In [242]:
user_email=user_email.head(150) #CORTANDO EL DATASET PARA QUE PUEDA SER PROCESADO POR MI LAPTOP

In [243]:
user_email._id.nunique()

150

Eliminando los user_id nulos

In [244]:
user_email.drop(user_email[user_email.user_id.isnull()].index, inplace = True)

In [245]:
user_email.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          150 non-null    object
 1   email        150 non-null    object
 2   cliente_id   150 non-null    object
 3   user_id      150 non-null    object
 4   CUSTOMER_ID  150 non-null    int64
dtypes: int64(1), object(4)
memory usage: 7.0+ KB

 AHORA BUSCAMOS LAS CONEXIONES

In [246]:
conexiones=pd.read_csv("/home/tecnoboy/Cluster0-shard-0/apiUsers/Conexion/conexiones.csv")

In [247]:
conexiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4299498 entries, 0 to 4299497
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   _id        object
 1   updatedAt  object
 2   createdAt  object
 3   _user      object
dtypes: object(4)
memory usage: 131.2+ MB

automaticos=pd.read_csv("/home/tecnoboy/ClusterMongo-produccion/cdfMaster/usersautomaticos.csv")

automaticos.info()

automaticos=automaticos.drop([  'createdAt',  'cabecera.connection',
       'cabecera.content-length', 'cabecera.x-forwarded-proto',
       'cabecera.x-forwarded-port', 'cabecera.x-forwarded-for',
       'cabecera.user-agent', 'cabecera.origin', 'cabecera.content-type',
       'cabecera.accept-language', 'cabecera.accept-encoding',
       'cabecera.accept', 'cabecera.host', 'cabecera.referer', 'cabecera.dnt',
       'cabecera.sec-fetch-site', 'cabecera.sec-fetch-mode',
       'cabecera.sec-fetch-dest', 'cabecera.accept-charset',
       'cabecera.cache-control', 'cabecera.save-data',
       'cabecera.authorization', 'jwt', 'fecha', '__v'],axis=1)

In [248]:
accesos=conexiones

accesos=pd.concat([automaticos, conexiones], axis=0)

In [249]:
accesos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4299498 entries, 0 to 4299497
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   _id        object
 1   updatedAt  object
 2   createdAt  object
 3   _user      object
dtypes: object(4)
memory usage: 131.2+ MB

In [250]:
accesos['updatedAt'] = pd.to_datetime(accesos['updatedAt'])

accesosOrd=accesos.sort_values(by=['createdAt'],ascending=True).drop_duplicates(['_user'], keep='last')

accesosOrd=accesos.sort_values(by=['updatedAt'],ascending=True)

In [251]:
user_email.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          150 non-null    object
 1   email        150 non-null    object
 2   cliente_id   150 non-null    object
 3   user_id      150 non-null    object
 4   CUSTOMER_ID  150 non-null    int64
dtypes: int64(1), object(4)
memory usage: 7.0+ KB

In [252]:
user_conexiones= user_email.merge(conexiones, left_on=['user_id'],right_on=['_user'], how="left", indicator=True)

In [253]:
user_conexiones.user_id.nunique()

150

In [254]:
user_conexiones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 902 entries, 0 to 901
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id_x        902 non-null    object
 1   email        902 non-null    object
 2   cliente_id   902 non-null    object
 3   user_id      902 non-null    object
 4   CUSTOMER_ID  902 non-null    int64
 5   _id_y        765 non-null    object
 6   updatedAt    765 non-null    datetime64[ns, UTC]
 7   createdAt    765 non-null    object
 8   _user        765 non-null    object
 9   _merge       902 non-null    category
dtypes: category(1), datetime64[ns, UTC](1), int64(1), object(7)
memory usage: 71.5+ KB

In [255]:
user_conexiones

,_id_x,email,cliente_id,user_id,CUSTOMER_ID,_id_y,updatedAt,createdAt,_user,_merge
0,5860ff4104d5b52eef1e6216,rsmonteros@gmail.com,5860ff4104d5b52eef1e6216,563857913817661751603df2,0,NaN,NaT,NaN,NaN,left_only
1,5860ff4104d5b52eef1e6217,cg_criminalista@hotmail.com,5860ff4104d5b52eef1e6217,563857913817661751603df3,1,NaN,NaT,NaN,NaN,left_only
2,5860ff4104d5b52eef1e6218,alejandro.truan@gmail.com,5860ff4104d5b52eef1e6218,563857913817661751603df4,2,5c715a7a9d06d14ccfa1e9da,2019-02-23 14:36:42.888000+00:00,2019-02-23T14:36:42.888Z,563857913817661751603df4,both
3,5860ff4104d5b52eef1e6215,daver182@gmail.com,5860ff4104d5b52eef1e6215,563857913817661751603df1,3,NaN,NaT,NaN,NaN,left_only
4,5860ff4104d5b52eef1e6219,segundocabe@hotmail.com,5860ff4104d5b52eef1e6219,563857913817661751603df5,4,NaN,NaT,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...
897,5860ff4104d5b52eef1e627e,aabavestrello@gmail.com,5860ff4104d5b52eef1e627e,563857923817661751603e61,145,NaN,NaT,NaN,NaN,left_only
898,5860ff4104d5b52eef1e6235,alexrivaldo@hotmail.cl,5860ff4104d5b52eef1e6235,563857913817661751603e13,146,NaN,NaT,NaN,NaN,left_only
899,5860ff4104d5b52eef1e6238,luis.castro77@live.com,5860ff4104d5b52eef1e6238,563857913817661751603e16,147,NaN,NaT,NaN,NaN,left_only
900,5860ff4104d5b52eef1e6282,drpalma8@hotmail.com,5860ff4104d5b52eef1e6282,563857923817661751603e65,148,NaN,NaT,NaN,NaN,left_only
901,5860ff4104d5b52eef1e6240,cocteleriaeden@hotmail.cl,5860ff4104d5b52eef1e6240,563857913817661751603e1f,149,NaN,NaT,NaN,NaN,left_only

In [279]:
user_conexioneslife=user_conexiones.groupby('user_id').agg(conexioneslife=('updatedAt','count'))

In [280]:
user_conexioneslife

                          conexioneslife
user_id
563857913817661751603df1               0
563857913817661751603df2               0
563857913817661751603df3               0
563857913817661751603df4               1
563857913817661751603df5               0
...                                  ...
56c48ab82c5ff4be08fd72ff               0
570ac990cfcfa7d108f97d6f               0
57ba10ed974df5e708185dc9               0
57e2d480bf95bde745402728               6
57e888c6a17c57de08b87ac4               0

[150 rows x 1 columns]

###  Ahora hay que segmentar por fecha para ir llenando la tabla

In [281]:
ultimos30dias=pd.to_datetime((datetime.datetime.today() - timedelta(days=30)))

In [282]:
ultimos30dias

Timestamp('2020-02-26 12:17:59.904716')

In [283]:
ultimos30dias=ultimos30dias.tz_localize('UTC')

Con rebeca

In [284]:
mes_hoy=datetime.datetime.today().month

In [285]:
mes_ant=mes_hoy-1

In [286]:
primer_diamesAnterior=pd.to_datetime(datetime.datetime.today().replace(month=mes_ant,day=1,hour=00,minute=0,second=0,microsecond=0))

In [287]:
primer_diamesAnterior=primer_diamesAnterior.tz_localize('UTC')

In [288]:
ultimo_diamesAnterir=pd.to_datetime(datetime.datetime.today().replace(day=1,hour=00,minute=0,second=0,microsecond=0))

In [289]:
ultimo_diamesAnterir=ultimo_diamesAnterir.tz_localize('UTC')

In [290]:
ultimos30dias

Timestamp('2020-02-26 12:17:59.904716+0000', tz='UTC')

In [291]:
user_conexionesLast30Days=user_conexiones.loc[user_conexiones['updatedAt'] > ultimos30dias]

In [292]:
user_conexionesLast30Days.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 516 to 527
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id_x        12 non-null     object
 1   email        12 non-null     object
 2   cliente_id   12 non-null     object
 3   user_id      12 non-null     object
 4   CUSTOMER_ID  12 non-null     int64
 5   _id_y        12 non-null     object
 6   updatedAt    12 non-null     datetime64[ns, UTC]
 7   createdAt    12 non-null     object
 8   _user        12 non-null     object
 9   _merge       12 non-null     category
dtypes: category(1), datetime64[ns, UTC](1), int64(1), object(7)
memory usage: 1.1+ KB

In [293]:
user_conexionesLast30Days._user.nunique()

1

In [294]:
user_conexionesLast30Days=user_conexionesLast30Days.groupby('user_id').agg(conexionesLast30Days=('updatedAt','count'))

In [295]:
user_conexionesLast30Days

                          conexionesLast30Days
user_id
563857913817661751603e01                    12

#### Obtener el √∫ltimo login

In [296]:
cusLastLoginDate=user_conexiones.groupby('user_id').agg(cusLastLoginDate=('updatedAt','last'),cusLoginsLifetime=('updatedAt','count'))

#### Obtener cusLoginsThisMonth

In [297]:
hoy=datetime.datetime.today()

In [298]:
primer_diames=pd.to_datetime(datetime.datetime.today().replace(day=1,hour=00,minute=0,second=0,microsecond=0))

In [299]:
primer_diames=primer_diames.tz_localize('UTC')

In [300]:
primer_diames

Timestamp('2020-03-01 00:00:00+0000', tz='UTC')

In [301]:
user_cusLoginsThisMonth=user_conexiones.loc[user_conexiones['updatedAt'] > primer_diames]

In [302]:
user_cusLoginsThisMonth=user_cusLoginsThisMonth.groupby('user_id').agg(cusLoginsThisMonth=('updatedAt', 'count') )

In [303]:
user_cusLoginsThisMonth

                          cusLoginsThisMonth
user_id
563857913817661751603e01                  10

#### Obtener cusLoginsPreviousMonth

In [304]:
primer_diamesAnterior

Timestamp('2020-02-01 00:00:00+0000', tz='UTC')

In [305]:
ultimo_diamesAnterir

Timestamp('2020-03-01 00:00:00+0000', tz='UTC')

In [306]:
user_conexiones_cusLoginsPreviousMonth=user_conexiones.loc[(user_conexiones['updatedAt'] > primer_diamesAnterior)&(user_conexiones['updatedAt'] < ultimo_diamesAnterir)]

In [307]:
user_conexiones_cusLoginsPreviousMonth.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 516 to 517
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id_x        2 non-null      object
 1   email        2 non-null      object
 2   cliente_id   2 non-null      object
 3   user_id      2 non-null      object
 4   CUSTOMER_ID  2 non-null      int64
 5   _id_y        2 non-null      object
 6   updatedAt    2 non-null      datetime64[ns, UTC]
 7   createdAt    2 non-null      object
 8   _user        2 non-null      object
 9   _merge       2 non-null      category
dtypes: category(1), datetime64[ns, UTC](1), int64(1), object(7)
memory usage: 266.0+ bytes

In [308]:
user_conexiones_cusLoginsPreviousMonth=user_conexiones_cusLoginsPreviousMonth.groupby('user_id').agg(cusLoginsPreviousMonth=('updatedAt','count') )

In [309]:
user_conexiones_cusLoginsPreviousMonth

                          cusLoginsPreviousMonth
user_id
563857913817661751603e01                       2

#### Obtener cusLoginsLast3Months¬†

In [310]:
def periodo3():
    hoy=datetime.datetime.today()
    mes_hoy=hoy.month
    mes_last3Month=mes_hoy-3
    if (mes_last3Month == 0):
        mes_last3Month=12
        ano=hoy.year-1
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
        limite_izq=limite_izq.tz_localize('UTC')
        print(limite_izq)
    if (mes_last3Month == -1):
        mes_last3Month=11
        ano=hoy.year-1
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
    if (mes_last3Month == -2):
        mes_last3Month=10
        ano=hoy.year-1
        limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=mes_last3Month,day=1,hour=00,minute=0,second=0,microsecond=0))
     
    return limite_izq

In [311]:
mes_inici3=periodo3()

2019-12-01 00:00:00+00:00

In [312]:
mes_inici3

Timestamp('2019-12-01 00:00:00+0000', tz='UTC')

In [313]:
user_conexiones_cusLoginsLast3Months=user_conexiones.loc[(user_conexiones['updatedAt'] > mes_inici3)&(user_conexiones['updatedAt'] < ultimo_diamesAnterir)]

In [314]:
user_conexiones_cusLoginsLast3Months=user_conexiones_cusLoginsLast3Months.groupby('user_id').agg(cusLoginsLast3Months=('updatedAt', 'count') )

In [315]:
user_conexiones_cusLoginsLast3Months

                          cusLoginsLast3Months
user_id
563857913817661751603e01                    20
563857913817661751603e44                     1

#### Obtener cusLoginsLast12Months

In [316]:
def periodo12():
    hoy=datetime.datetime.today()
    month=hoy.month
    ano=hoy.year-1
    limite_izq=pd.to_datetime(datetime.datetime.today().replace(year=ano,month=month,day=1,hour=00,minute=0,second=0,microsecond=0))
    limite_izq=limite_izq.tz_localize('UTC')

    return limite_izq

In [317]:
mes_inici12=periodo12()

In [318]:
mes_inici12

Timestamp('2019-03-01 00:00:00+0000', tz='UTC')

In [319]:
user_conexiones_cusLoginsLast12Months=user_conexiones.loc[(user_conexiones['updatedAt']>mes_inici12)&(user_conexiones['updatedAt'] < ultimo_diamesAnterir)]

In [320]:
user_conexiones_cusLoginsLast12Months=user_conexiones_cusLoginsLast12Months.groupby('user_id').agg(cusLoginsLast12Months=('updatedAt','count'))

In [321]:
user_conexiones_cusLoginsLast12Months

                          cusLoginsLast12Months
user_id
563857913817661751603e01                    407
563857913817661751603e1e                      1
563857913817661751603e44                     72
563857923817661751603e74                     46
563857923817661751603e7a                      2
563857923817661751603e9b                     63

In [322]:
type(user_conexiones_cusLoginsLast12Months)

pandas.core.frame.DataFrame

In [323]:
user_conexiones_cusLoginsBefore12Month=user_conexiones.loc[(user_conexiones['updatedAt']<mes_inici12)&(user_conexiones['updatedAt'] < ultimo_diamesAnterir)]

In [324]:
user_conexiones_cusLoginsBefore12Month=user_conexiones_cusLoginsBefore12Month.groupby('user_id').agg(LoginsBefore12Month=('updatedAt','count'))

## ARMANDO LA TABLA FINAL

In [325]:
frames = [cusLastLoginDate,user_conexioneslife, user_cusLoginsThisMonth, user_conexionesLast30Days,user_conexiones_cusLoginsPreviousMonth,user_conexiones_cusLoginsLast3Months,user_conexiones_cusLoginsLast12Months,user_conexiones_cusLoginsBefore12Month]

In [326]:
CDF_LoginSummary = pd.concat(frames)

In [327]:
CDF_LoginSummary

,cusLastLoginDate,cusLoginsLifetime,conexioneslife,cusLoginsThisMonth,conexionesLast30Days,cusLoginsPreviousMonth,cusLoginsLast3Months,cusLoginsLast12Months,LoginsBefore12Month
user_id,,,,,,,,,
563857913817661751603df1,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563857913817661751603df2,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563857913817661751603df3,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563857913817661751603df4,2019-02-23 14:36:42.888000+00:00,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563857913817661751603df5,NaT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
563857923817661751603e74,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
563857923817661751603e7b,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
563857923817661751603e95,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
563857923817661751603e9b,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0
57e2d480bf95bde745402728,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0

In [328]:
 result = pd.concat([user_conexioneslife, user_conexiones_cusLoginsLast12Months], axis=1).reindex(user_conexiones_cusLoginsLast12Months.index)

In [329]:
result

                          conexioneslife  cusLoginsLast12Months
user_id
563857913817661751603e01             448                  407.0
563857913817661751603e1e               1                    1.0
563857913817661751603e44              78                   72.0
563857923817661751603e74              79                   46.0
563857923817661751603e7a               2                    2.0
563857923817661751603e9b             111                   63.0

In [330]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 563857913817661751603e01 to 563857923817661751603e9b
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   conexioneslife         6 non-null      int64
 1   cusLoginsLast12Months  6 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 304.0+ bytes

In [331]:
table=pd.concat([cusLastLoginDate,user_cusLoginsThisMonth, user_conexionesLast30Days,user_conexiones_cusLoginsPreviousMonth,user_conexiones_cusLoginsLast3Months,user_conexiones_cusLoginsLast12Months], axis=1, sort=False)

In [332]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 563857913817661751603df1 to 57e888c6a17c57de08b87ac4
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cusLastLoginDate        13 non-null     datetime64[ns, UTC]
 1   cusLoginsLifetime       150 non-null    int64
 2   cusLoginsThisMonth      1 non-null      float64
 3   conexionesLast30Days    1 non-null      float64
 4   cusLoginsPreviousMonth  1 non-null      float64
 5   cusLoginsLast3Months    2 non-null      float64
 6   cusLoginsLast12Months   6 non-null      float64
dtypes: datetime64[ns, UTC](1), float64(5), int64(1)
memory usage: 9.4+ KB

In [ ]:
df['CUSTOMER_ID'] = df.index

In [339]:
table=table.rename(columns={'cusLastLoginDate':'LAST_LOGIN_DATE','cusLastLoginDate':'LAST_LOGIN_DATE','cusLoginsLifetime':'LOGINS_LIFETIME','cusLoginsThisMonth':'LOGINS_THIS_MONTH','conexionesLast30Days':'LOGINS_LAST_30_DAYS','cusLoginsPreviousMonth':'LOGINS_PREVIOUS_MONTH','cusLoginsLast3Months':'LOGINS_LAST_3_MONTHS','cusLoginsLast12Months':'LOGINS_LAST_12_MONTHS'})

In [340]:
table

,LAST_LOGIN_DATE,LOGINS_LIFETIME,LOGINS_THIS_MONTH,LOGINS_LAST_30_DAYS,LOGINS_PREVIOUS_MONTH,LOGINS_LAST_3_MONTHS,LOGINS_LAST_12_MONTHS
563857913817661751603df1,NaT,0,NaN,NaN,NaN,NaN,NaN
563857913817661751603df2,NaT,0,NaN,NaN,NaN,NaN,NaN
563857913817661751603df3,NaT,0,NaN,NaN,NaN,NaN,NaN
563857913817661751603df4,2019-02-23 14:36:42.888000+00:00,1,NaN,NaN,NaN,NaN,NaN
563857913817661751603df5,NaT,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
56c48ab82c5ff4be08fd72ff,NaT,0,NaN,NaN,NaN,NaN,NaN
570ac990cfcfa7d108f97d6f,NaT,0,NaN,NaN,NaN,NaN,NaN
57ba10ed974df5e708185dc9,NaT,0,NaN,NaN,NaN,NaN,NaN
57e2d480bf95bde745402728,2018-07-18 15:30:48.474000+00:00,6,NaN,NaN,NaN,NaN,NaN
57e888c6a17c57de08b87ac4,NaT,0,NaN,NaN,NaN,NaN,NaN

In [333]:
table.loc[table.cusLoginsLast12Months.notnull()]

,cusLastLoginDate,cusLoginsLifetime,cusLoginsThisMonth,conexionesLast30Days,cusLoginsPreviousMonth,cusLoginsLast3Months,cusLoginsLast12Months
563857913817661751603e01,2020-03-05 22:25:13.579000+00:00,448,10.0,12.0,2.0,20.0,407.0
563857913817661751603e1e,2019-10-05 13:34:56.901000+00:00,1,NaN,NaN,NaN,NaN,1.0
563857913817661751603e44,2019-12-05 15:32:15.520000+00:00,78,NaN,NaN,NaN,1.0,72.0
563857923817661751603e74,2019-04-06 18:04:41.952000+00:00,79,NaN,NaN,NaN,NaN,46.0
563857923817661751603e7a,2019-08-18 13:34:58.587000+00:00,2,NaN,NaN,NaN,NaN,2.0
563857923817661751603e9b,2019-11-07 19:16:48.860000+00:00,111,NaN,NaN,NaN,NaN,63.0

In [341]:
table['CUSTOMER_ID'] = table.index

In [353]:
table=table.fillna(0)

In [345]:
table = table[['CUSTOMER_ID','LAST_LOGIN_DATE','LOGINS_THIS_MONTH','LOGINS_LAST_30_DAYS','LOGINS_PREVIOUS_MONTH','LOGINS_LAST_3_MONTHS','LOGINS_LAST_12_MONTHS','LOGINS_LIFETIME']]

In [346]:
table

,CUSTOMER_ID,LAST_LOGIN_DATE,LOGINS_THIS_MONTH,LOGINS_LAST_30_DAYS,LOGINS_PREVIOUS_MONTH,LOGINS_LAST_3_MONTHS,LOGINS_LAST_12_MONTHS,LOGINS_LIFETIME
563857913817661751603df1,563857913817661751603df1,NaT,NaN,NaN,NaN,NaN,NaN,0
563857913817661751603df2,563857913817661751603df2,NaT,NaN,NaN,NaN,NaN,NaN,0
563857913817661751603df3,563857913817661751603df3,NaT,NaN,NaN,NaN,NaN,NaN,0
563857913817661751603df4,563857913817661751603df4,2019-02-23 14:36:42.888000+00:00,NaN,NaN,NaN,NaN,NaN,1
563857913817661751603df5,563857913817661751603df5,NaT,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...
56c48ab82c5ff4be08fd72ff,56c48ab82c5ff4be08fd72ff,NaT,NaN,NaN,NaN,NaN,NaN,0
570ac990cfcfa7d108f97d6f,570ac990cfcfa7d108f97d6f,NaT,NaN,NaN,NaN,NaN,NaN,0
57ba10ed974df5e708185dc9,57ba10ed974df5e708185dc9,NaT,NaN,NaN,NaN,NaN,NaN,0
57e2d480bf95bde745402728,57e2d480bf95bde745402728,2018-07-18 15:30:48.474000+00:00,NaN,NaN,NaN,NaN,NaN,6
57e888c6a17c57de08b87ac4,57e888c6a17c57de08b87ac4,NaT,NaN,NaN,NaN,NaN,NaN,0

 #### Ahora vamos a determinar el nombre y el path

In [347]:
name='cdf_loginSummary_'+datetime.datetime.today().strftime('%Y%m%d_%H%M%S')

In [349]:
name

'cdf_loginSummary_20200327_123806'

In [350]:
path='/home/tecnoboy/'+name+'.csv'

In [351]:
path

'/home/tecnoboy/cdf_loginSummary_20200327_123806.csv'

In [357]:
table[CUSTOMER_ID].to_string()

NameError: name 'CUSTOMER_ID' is not defined

In [358]:
table['CUSTOMER_ID']=table['CUSTOMER_ID'].apply(str)

In [359]:
table.to_csv(path, index=False)

In [360]:
table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150 entries, 563857913817661751603df1 to 57e888c6a17c57de08b87ac4
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CUSTOMER_ID            150 non-null    object
 1   LAST_LOGIN_DATE        150 non-null    object
 2   LOGINS_THIS_MONTH      150 non-null    float64
 3   LOGINS_LAST_30_DAYS    150 non-null    float64
 4   LOGINS_PREVIOUS_MONTH  150 non-null    float64
 5   LOGINS_LAST_3_MONTHS   150 non-null    float64
 6   LOGINS_LAST_12_MONTHS  150 non-null    float64
 7   LOGINS_LIFETIME        150 non-null    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 10.5+ KB