## Data Driver ADOBE

## History-subscription

In [1]:
import pandas as pd
from pymongo import MongoClient
import pymongo
from datetime import datetime, timedelta
import numpy as np

import csv

In [2]:
feh=datetime(2017,1,1,0,0,0)

In [3]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["ecdf"]

In [4]:
mycol_cupAsig = mydb["cuponesasignados"]

In [5]:
def cuponesAsignadosdataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
cuponesAsignados = cuponesAsignadosdataframes(mycol_cupAsig.find({},{'_id':1,'fecha_fin':1,'fecha_activacion':1,'user_id_asignado':1,'createdAt':1 ,'producto_id':1,}), 10000)

In [6]:
cuponesAsignados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13179 entries, 0 to 3178
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               13179 non-null  object
 1   createdAt         13179 non-null  datetime64[ns]
 2   user_id_asignado  13179 non-null  object
 3   producto_id       13179 non-null  object
 4   fecha_activacion  13179 non-null  datetime64[ns]
 5   fecha_fin         13179 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(3)
memory usage: 720.7+ KB

## Ahora vamos a transbank y a paypal

In [7]:
mycol_transAsig = mydb["transbankfinalizaregistros"]

In [8]:
def transAsigframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
transbank = transAsigframes(mycol_transAsig.find({},{'_id':1,'createdAt':1,'user_id':1}), 10000)

In [9]:
transbank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135371 entries, 0 to 5370
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _id        135371 non-null  object
 1   createdAt  135371 non-null  datetime64[ns]
 2   user_id    135371 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 4.1+ MB

In [10]:
mycol_paypalAsig= mydb["acuerdospaypals"]

In [11]:
def paypalAsigframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
paypal = paypalAsigframes(mycol_paypalAsig.find({},{'_id':1,'createdAt':1,'user_id':1}), 10000)

In [12]:
paypal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31700 entries, 0 to 1699
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        31700 non-null  object
 1   createdAt  31700 non-null  datetime64[ns]
 2   user_id    31700 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 990.6+ KB

In [13]:
paypal

,_id,createdAt,user_id
0,5864370c544d345616c76544,2016-12-28 22:05:00.148,5862bd920462ca40dacdfd4d
1,5865c44b815f266928302e84,2016-12-30 02:19:55.686,572dfd1e2d49f4de08c83e55
2,586697ca3c27ec7219b7aaaf,2016-12-30 17:22:18.836,586696cd3c27ec7219b7aaad
3,5866993e3c27ec7219b7aab0,2016-12-30 17:28:30.720,586696cd3c27ec7219b7aaad
4,58669b233c27ec7219b7aab1,2016-12-30 17:36:35.594,586696cd3c27ec7219b7aaad
...,...,...,...
1695,5e9e4364e041830f015fcc43,2020-04-21 00:50:44.231,5d7c1d900f44ab0d2663c71a
1696,5e9e45a37824a30ef107772e,2020-04-21 01:00:19.002,5e938a59a4371678314e357b
1697,5e9fa30ef1106b0f0744fcb8,2020-04-22 01:51:10.252,56385862381766175160870b
1698,5ea0b342f1106b0f0744fd30,2020-04-22 21:12:34.015,5ea0b295a796be1213975b03
1699,5ea1ac25fd93571f6a4590fe,2020-04-23 14:54:29.636,5b678932257b8a442b642c18

In [14]:
mycol_users = mydb["users"]
def userframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
users = userframes(mycol_users.find({},{'_id':1,'email':1,'cliente_id':1,'createdAt':1}), 10000)

In [15]:
userData=users

In [16]:
userData['id']=userData._id.astype(str)

In [17]:
userData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 434819 entries, 0 to 4818
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   _id         434819 non-null  object
 1   createdAt   434818 non-null  datetime64[ns]
 2   cliente_id  434759 non-null  object
 3   email       434819 non-null  object
 4   id          434819 non-null  object
dtypes: datetime64[ns](1), object(4)
memory usage: 19.9+ MB

In [18]:
paypal=paypal.rename(columns={ "id":"COUPON_CODE"})

In [19]:
paypal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31700 entries, 0 to 1699
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        31700 non-null  object
 1   createdAt  31700 non-null  datetime64[ns]
 2   user_id    31700 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 990.6+ KB

#### Ahora hay que traer el cruzar para convertir user_id a Cliente_id

In [20]:
user_Paypal=userData.merge(paypal, right_on='user_id',left_on='id',how='left')

In [21]:
user_Paypal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 453864 entries, 0 to 453863
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   _id_x        453864 non-null  object
 1   createdAt_x  453863 non-null  datetime64[ns]
 2   cliente_id   453804 non-null  object
 3   email        453864 non-null  object
 4   id           453864 non-null  object
 5   _id_y        31695 non-null   object
 6   createdAt_y  31695 non-null   datetime64[ns]
 7   user_id      31695 non-null   object
dtypes: datetime64[ns](2), object(6)
memory usage: 31.2+ MB

In [22]:
user_Paypal = user_Paypal.dropna(axis=0, subset=['user_id'])

In [23]:
user_Paypal=user_Paypal.rename(columns={ "_id_x":"CUSTOMER_ID","_id_y":"SUBSCRIPTION_CODE"})

In [24]:
user_Paypal.columns

Index(['CUSTOMER_ID', 'createdAt_x', 'cliente_id', 'email', 'id',
       'SUBSCRIPTION_CODE', 'createdAt_y', 'user_id'],
      dtype='object')

In [25]:
user_Paypal=user_Paypal.drop(['createdAt_x','createdAt_y', 'cliente_id', 'email', 'id', 
       'user_id'],axis=1)

In [26]:
user_Paypal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31695 entries, 83 to 453801
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUSTOMER_ID        31695 non-null  object
 1   SUBSCRIPTION_CODE  31695 non-null  object
dtypes: object(2)
memory usage: 742.9+ KB

In [27]:
user_Paypal['GATEWAY']='paypal'

## CLASIFICACIÓN DE LOS CUPONES

In [28]:
cuponesAsignados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13179 entries, 0 to 3178
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               13179 non-null  object
 1   createdAt         13179 non-null  datetime64[ns]
 2   user_id_asignado  13179 non-null  object
 3   producto_id       13179 non-null  object
 4   fecha_activacion  13179 non-null  datetime64[ns]
 5   fecha_fin         13179 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(3)
memory usage: 720.7+ KB

In [29]:
cuponesAsignados=cuponesAsignados.rename(columns={ "fecha_activacion":"START_DATE","_id":"SUBSCRIPTION_CODE"})

In [30]:
cuponesAsignados['user_id']=cuponesAsignados.user_id_asignado.astype(str)

In [31]:
userData['user_id_asignado']=userData._id.astype(str)

In [32]:
user_Cupones=userData.merge(cuponesAsignados, right_on='user_id',left_on='id',how='right')

In [33]:
user_Cupones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13179 entries, 0 to 13178
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 13172 non-null  object
 1   createdAt_x         13172 non-null  datetime64[ns]
 2   cliente_id          13172 non-null  object
 3   email               13172 non-null  object
 4   id                  13172 non-null  object
 5   user_id_asignado_x  13172 non-null  object
 6   SUBSCRIPTION_CODE   13179 non-null  object
 7   createdAt_y         13179 non-null  datetime64[ns]
 8   user_id_asignado_y  13179 non-null  object
 9   producto_id         13179 non-null  object
 10  START_DATE          13179 non-null  datetime64[ns]
 11  fecha_fin           13179 non-null  datetime64[ns]
 12  user_id             13179 non-null  object
dtypes: datetime64[ns](4), object(9)
memory usage: 1.4+ MB

In [34]:
user_Cupones = user_Cupones.dropna(axis=0, subset=['id'])

In [35]:
user_Cupones=user_Cupones.rename(columns={"cliente_id":"CUSTOMER_ID","fecha_fin":"END_DATE","":""})

In [36]:
user_Cupones['GATEWAY']='cupones'

In [37]:
user_Cupones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13172 entries, 0 to 13171
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 13172 non-null  object
 1   createdAt_x         13172 non-null  datetime64[ns]
 2   CUSTOMER_ID         13172 non-null  object
 3   email               13172 non-null  object
 4   id                  13172 non-null  object
 5   user_id_asignado_x  13172 non-null  object
 6   SUBSCRIPTION_CODE   13172 non-null  object
 7   createdAt_y         13172 non-null  datetime64[ns]
 8   user_id_asignado_y  13172 non-null  object
 9   producto_id         13172 non-null  object
 10  START_DATE          13172 non-null  datetime64[ns]
 11  END_DATE            13172 non-null  datetime64[ns]
 12  user_id             13172 non-null  object
 13  GATEWAY             13172 non-null  object
dtypes: datetime64[ns](4), object(10)
memory usage: 1.5+ MB

# AQUI

In [38]:
mycol_product = mydb["productos"]
def productosdataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
productos = productosdataframes(mycol_product.find({},{'_id':1,'valorInternacional':1,'valorNacional':1}), 10000)

In [39]:
productos['producto_id']=productos._id.astype(str)

In [40]:
productos['producto_id']=productos.producto_id.astype(str)

In [41]:
user_Cupones['producto_id']=user_Cupones.producto_id.astype(str)

In [42]:
productos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 15 non-null     object
 1   valorNacional       12 non-null     object
 2   valorInternacional  3 non-null      object
 3   producto_id         15 non-null     object
dtypes: object(4)
memory usage: 608.0+ bytes

In [43]:
user_Cupones=user_Cupones.merge(productos, on='producto_id',how='left')

In [44]:
user_Cupones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13172 entries, 0 to 13171
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id_x               13172 non-null  object
 1   createdAt_x         13172 non-null  datetime64[ns]
 2   CUSTOMER_ID         13172 non-null  object
 3   email               13172 non-null  object
 4   id                  13172 non-null  object
 5   user_id_asignado_x  13172 non-null  object
 6   SUBSCRIPTION_CODE   13172 non-null  object
 7   createdAt_y         13172 non-null  datetime64[ns]
 8   user_id_asignado_y  13172 non-null  object
 9   producto_id         13172 non-null  object
 10  START_DATE          13172 non-null  datetime64[ns]
 11  END_DATE            13172 non-null  datetime64[ns]
 12  user_id             13172 non-null  object
 13  GATEWAY             13172 non-null  object
 14  _id_y               13170 non-null  object
 15  valorNacional       13170 non-null  object
 16  valorInternacional  0 non-null      object
dtypes: datetime64[ns](4), object(13)
memory usage: 1.8+ MB

In [45]:
user_Cupones = user_Cupones.dropna(axis=0, subset=['valorNacional'])

In [46]:
user_Cupones=user_Cupones.rename(columns={"valorNacional":"CLP_PRICE"})

In [47]:
user_Cupones.columns

Index(['_id_x', 'createdAt_x', 'CUSTOMER_ID', 'email', 'id',
       'user_id_asignado_x', 'SUBSCRIPTION_CODE', 'createdAt_y',
       'user_id_asignado_y', 'producto_id', 'START_DATE', 'END_DATE',
       'user_id', 'GATEWAY', '_id_y', 'CLP_PRICE', 'valorInternacional'],
      dtype='object')

In [48]:
user_Cupones=user_Cupones.drop(['_id_x', 'createdAt_x', 'email', 'id',
       'user_id_asignado_x','createdAt_y',
       'user_id_asignado_y', 'producto_id',
       'user_id', '_id_y', 'valorInternacional'],axis=1)

In [49]:
user_Cupones.columns

Index(['CUSTOMER_ID', 'SUBSCRIPTION_CODE', 'START_DATE', 'END_DATE', 'GATEWAY',
       'CLP_PRICE'],
      dtype='object')

In [50]:
user_Cupones['PAYMENT_DATE']=user_Cupones['START_DATE']

Ahora vamos por los transbank

In [51]:
transbank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135371 entries, 0 to 5370
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   _id        135371 non-null  object
 1   createdAt  135371 non-null  datetime64[ns]
 2   user_id    135371 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 4.1+ MB

In [52]:
transbank=transbank.rename(columns={"_id":"SUBSCRIPTION_CODE"})

In [53]:
transbank['user_id']=transbank.user_id.astype(str)

In [54]:
user_transbank=userData.merge(transbank, right_on='user_id',left_on='id',how='left')

In [55]:
user_transbank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 498566 entries, 0 to 498565
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   _id                498566 non-null  object
 1   createdAt_x        498565 non-null  datetime64[ns]
 2   cliente_id         498506 non-null  object
 3   email              498566 non-null  object
 4   id                 498566 non-null  object
 5   user_id_asignado   498566 non-null  object
 6   SUBSCRIPTION_CODE  135367 non-null  object
 7   createdAt_y        135367 non-null  datetime64[ns]
 8   user_id            135367 non-null  object
dtypes: datetime64[ns](2), object(7)
memory usage: 38.0+ MB

In [56]:
user_transbank = user_transbank.dropna(axis=0, subset=['SUBSCRIPTION_CODE'])

In [57]:
user_transbank=user_transbank.rename(columns={"user_id_asignado":"CUSTOMER_ID"})

In [58]:
user_transbank.columns

Index(['_id', 'createdAt_x', 'cliente_id', 'email', 'id', 'CUSTOMER_ID',
       'SUBSCRIPTION_CODE', 'createdAt_y', 'user_id'],
      dtype='object')

In [59]:
user_transbank=user_transbank.drop(['_id', 'createdAt_x','createdAt_y', 'cliente_id', 'email', 'id', 'user_id'],axis=1)

In [60]:
user_transbank.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135367 entries, 4 to 498423
Data columns (total 2 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        135367 non-null  object
 1   SUBSCRIPTION_CODE  135367 non-null  object
dtypes: object(2)
memory usage: 3.1+ MB

In [61]:
user_transbank['GATEWAY']='transbank'

In [62]:
user_Paypal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31695 entries, 83 to 453801
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUSTOMER_ID        31695 non-null  object
 1   SUBSCRIPTION_CODE  31695 non-null  object
 2   GATEWAY            31695 non-null  object
dtypes: object(3)
memory usage: 990.5+ KB

In [63]:
user_Cupones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13170 entries, 0 to 13171
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUSTOMER_ID        13170 non-null  object
 1   SUBSCRIPTION_CODE  13170 non-null  object
 2   START_DATE         13170 non-null  datetime64[ns]
 3   END_DATE           13170 non-null  datetime64[ns]
 4   GATEWAY            13170 non-null  object
 5   CLP_PRICE          13170 non-null  object
 6   PAYMENT_DATE       13170 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(4)
memory usage: 823.1+ KB

In [64]:
user_Cupones

,CUSTOMER_ID,SUBSCRIPTION_CODE,START_DATE,END_DATE,GATEWAY,CLP_PRICE,PAYMENT_DATE
0,5860ff4104d5b52eef1e6269,58652ac5d5928a61d7489934,2016-12-29 15:24:53.563,2017-01-31 00:00:00.000,cupones,0,2016-12-29 15:24:53.563
1,5860ff4104d5b52eef1e628d,5e52930d43bbf00db5d2028e,2020-02-23 14:58:21.091,2020-03-24 14:58:21.091,cupones,10990,2020-02-23 14:58:21.091
2,5860ff4104d5b52eef1e6308,58652ac5d5928a61d7489936,2016-12-29 15:24:53.630,2017-01-31 00:00:00.000,cupones,0,2016-12-29 15:24:53.630
3,5860ff4104d5b52eef1e6266,5918b8dd8c1fcb1233f4c2b4,2017-05-14 20:06:53.293,2017-06-13 23:59:59.999,cupones,0,2017-05-14 20:06:53.293
4,5860ff4104d5b52eef1e6250,5abe4f6600670417fd848276,2018-03-30 14:53:26.167,2018-07-23 18:55:06.111,cupones,10990,2018-03-30 14:53:26.167
...,...,...,...,...,...,...,...
13167,5e875e3a1f3fe30d84909be5,5e875f3a401c6f0ab959323c,2020-04-03 16:07:22.919,2020-08-01 23:59:59.999,cupones,0,2020-04-03 16:07:22.919
13168,5e8f3985a7730b169fe6eec0,5e8f3a0c49fa5c1699ca9b69,2020-04-09 15:06:52.438,2021-05-04 23:59:59.999,cupones,0,2020-04-09 15:06:52.438
13169,5e962397bc029378e090210f,5e962468bc029378e0902110,2020-04-14 21:00:24.909,2020-05-14 23:59:59.999,cupones,0,2020-04-14 21:00:24.909
13170,5e973f661d48bf7843c6671e,5e974678943ae378c8fe464a,2020-04-15 17:38:00.517,2020-07-14 23:59:59.999,cupones,0,2020-04-15 17:38:00.517
13171,5e98ca631d48bf7843c667e2,5e98caffbc029378e090228d,2020-04-16 21:15:43.084,2020-07-15 23:59:59.999,cupones,0,2020-04-16 21:15:43.084

In [65]:
parcialUser = [user_transbank, user_Paypal]

In [66]:
historyParcial=pd.concat(parcialUser)

In [67]:
historyParcial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167062 entries, 4 to 453801
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        167062 non-null  object
 1   SUBSCRIPTION_CODE  167062 non-null  object
 2   GATEWAY            167062 non-null  object
dtypes: object(3)
memory usage: 5.1+ MB

In [68]:
historyParcial.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 167062 entries, 4 to 453801
Data columns (total 3 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        167062 non-null  object
 1   SUBSCRIPTION_CODE  167062 non-null  object
 2   GATEWAY            167062 non-null  object
dtypes: object(3)
memory usage: 5.1+ MB

In [69]:
mycol_pagos = mydb["pagos"]

In [70]:
def Pagosdataframes(iterator, chunk_size: int):
  """Turn an iterator into multiple small pandas.DataFrame
  This is a balance between memory and efficiency
  """
  records = []
  frames = []
  for i, record in enumerate(iterator):
    records.append(record)
    if i % chunk_size == chunk_size - 1:
      frames.append(pd.DataFrame(records))
      records = []
  if records:
    frames.append(pd.DataFrame(records))
  return pd.concat(frames) if frames else pd.DataFrame()
  
pagos = Pagosdataframes(mycol_pagos.find({},{'_id':1,'monto':1,'acuerdo_id':1,'moneda':1,'fecha_fin':1,'fecha_pago':1,'pasarela':1,'user_id':1,'createdAt':1 ,'updatedAt':1 }), 10000)

In [71]:
pagos.columns

Index(['_id', 'updatedAt', 'createdAt', 'user_id', 'pasarela', 'monto',
       'moneda', 'fecha_pago', 'acuerdo_id', 'fecha_fin'],
      dtype='object')

In [72]:
pagos

,_id,updatedAt,createdAt,user_id,pasarela,monto,moneda,fecha_pago,acuerdo_id,fecha_fin
0,5861c4990ee08c3630cdd9b2,2017-01-24 18:50:19.322,2016-12-27 01:32:09.427,563857913817661751603df1,transbank,7390,CLP,2015-10-04 14:22:29.134,5861c4990ee08c3630cdd9b0,2015-11-03 14:23:49.730
1,5861c4990ee08c3630cdd9c3,2017-01-24 18:50:24.541,2016-12-27 01:32:09.471,563857913817661751603e1e,transbank,7390,CLP,2016-11-18 17:34:45.725,5861c4990ee08c3630cdd9b6,2016-12-18 17:34:47.000
2,5861c4990ee08c3630cdd9c6,2017-01-24 18:50:22.595,2016-12-27 01:32:09.479,563857913817661751603e0d,transbank,7390,CLP,2014-10-25 23:51:27.702,5861c4990ee08c3630cdd9b7,2014-11-24 23:52:30.371
3,5861c4990ee08c3630cdd9c4,2017-01-24 18:50:22.594,2016-12-27 01:32:09.479,563857913817661751603e0d,transbank,7390,CLP,2014-12-24 23:51:05.113,5861c4990ee08c3630cdd9b7,2015-01-23 23:52:30.371
4,5861c4990ee08c3630cdd9c5,2017-01-24 18:50:22.594,2016-12-27 01:32:09.479,563857913817661751603e0d,transbank,7390,CLP,2014-11-24 23:51:17.572,5861c4990ee08c3630cdd9b7,2014-12-24 23:52:30.371
...,...,...,...,...,...,...,...,...,...,...
6072,5ea6d085e0a51e2c88674ccd,2020-04-27 12:31:01.356,2020-04-27 12:31:01.352,5e5835dc7629f813181aed10,paypal,17,USD,2020-04-27 12:27:22.000,5e5837577629f813181aed21,2020-05-27 23:59:59.999
6073,5ea6d443e0a51e2c88674cd0,2020-04-27 12:46:59.496,2020-04-27 12:46:59.492,58a07cac4320da55a2d1d90b,paypal,15.49,USD,2020-04-27 12:42:02.000,58a07d334320da55a2d1d942,2020-05-27 23:59:59.999
6074,5ea6db40e0a51e2c88674cd3,2020-04-27 13:16:48.290,2020-04-27 13:16:48.287,563856fb38176617516006e7,paypal,17,USD,2020-04-27 13:12:33.000,5bdf2c2539d6040b065590f0,2020-05-28 23:59:59.999
6075,5ea6f54ee0a51e2c88674d15,2020-04-27 15:07:58.966,2020-04-27 15:07:58.962,57d5c3d9732cf7d8085f606d,paypal,17,USD,2020-04-27 14:43:05.000,5e30ae485f2f260deee70dff,2020-05-27 23:59:59.999
6076,5ea6fba6e0a51e2c88674d18,2020-04-27 15:35:02.204,2020-04-27 15:35:02.201,5d6a7eb316a0aa0c2cd305da,paypal,17,USD,2020-04-27 15:06:33.000,5d6a853ec8feea0c66e046ec,2020-06-06 23:59:59.999

In [73]:
pagos['pasarela']=pagos.acuerdo_id.astype(str)

In [74]:
pagos['acuerdo_id']=pagos.acuerdo_id.astype(str)

In [75]:
historyParcial['SUBSCRIPTION_CODE']=historyParcial.SUBSCRIPTION_CODE.astype(str)

In [76]:
pag_trans_payp=historyParcial.merge(pagos, right_on='acuerdo_id',left_on='SUBSCRIPTION_CODE',how='left')

In [77]:
pag_trans_payp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748861 entries, 0 to 748860
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        748861 non-null  object
 1   SUBSCRIPTION_CODE  748861 non-null  object
 2   GATEWAY            748861 non-null  object
 3   _id                725350 non-null  object
 4   updatedAt          725350 non-null  datetime64[ns]
 5   createdAt          725348 non-null  datetime64[ns]
 6   user_id            725350 non-null  object
 7   pasarela           725350 non-null  object
 8   monto              725350 non-null  object
 9   moneda             725350 non-null  object
 10  fecha_pago         725350 non-null  datetime64[ns]
 11  acuerdo_id         725350 non-null  object
 12  fecha_fin          725350 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(9)
memory usage: 80.0+ MB

In [78]:
pag_trans_payp = pag_trans_payp.dropna(axis=0, subset=['createdAt'])

In [79]:
pag_trans_payp['GATEWAY'].unique()

array(['transbank', 'paypal'], dtype=object)

In [80]:
pag_trans_payp['GATEWAY'].unique()

array(['transbank', 'paypal'], dtype=object)

In [81]:
pag_trans_payp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725348 entries, 0 to 748860
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        725348 non-null  object
 1   SUBSCRIPTION_CODE  725348 non-null  object
 2   GATEWAY            725348 non-null  object
 3   _id                725348 non-null  object
 4   updatedAt          725348 non-null  datetime64[ns]
 5   createdAt          725348 non-null  datetime64[ns]
 6   user_id            725348 non-null  object
 7   pasarela           725348 non-null  object
 8   monto              725348 non-null  object
 9   moneda             725348 non-null  object
 10  fecha_pago         725348 non-null  datetime64[ns]
 11  acuerdo_id         725348 non-null  object
 12  fecha_fin          725348 non-null  datetime64[ns]
dtypes: datetime64[ns](4), object(9)
memory usage: 77.5+ MB

In [82]:
pag_trans_payp

,CUSTOMER_ID,SUBSCRIPTION_CODE,GATEWAY,_id,updatedAt,createdAt,user_id,pasarela,monto,moneda,fecha_pago,acuerdo_id,fecha_fin
0,563857913817661751603df1,5861c4990ee08c3630cdd9b0,transbank,5861c4990ee08c3630cdd9b2,2017-01-24 18:50:19.322,2016-12-27 01:32:09.427,563857913817661751603df1,5861c4990ee08c3630cdd9b0,7390,CLP,2015-10-04 14:22:29.134,5861c4990ee08c3630cdd9b0,2015-11-03 14:23:49.730
1,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad4,2017-01-24 18:50:21.232,2016-12-27 01:32:09.883,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390,CLP,2014-01-21 23:52:17.022,5861c4990ee08c3630cddaba,2014-02-20 23:53:33.429
2,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad3,2017-01-24 18:50:21.231,2016-12-27 01:32:09.883,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390,CLP,2014-02-20 23:52:00.005,5861c4990ee08c3630cddaba,2014-03-22 23:53:33.429
3,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad5,2017-01-24 18:50:21.232,2016-12-27 01:32:09.883,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390,CLP,2013-12-22 23:52:20.639,5861c4990ee08c3630cddaba,2014-01-21 23:53:33.429
4,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad9,2017-01-24 18:50:21.235,2016-12-27 01:32:09.884,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390,CLP,2013-08-24 20:16:13.932,5861c4990ee08c3630cddaba,2013-09-23 20:18:49.240
...,...,...,...,...,...,...,...,...,...,...,...,...,...
748835,5e6ebac1faadb50d9386c4d7,5e6ebb958d6fbc109d67017d,paypal,5e6ebc040b6801388a352fb0,2020-03-17 13:01:26.137,2020-03-15 23:36:36.161,5e6ebac1faadb50d9386c4d7,5e6ebb958d6fbc109d67017d,17,USD,2020-03-15 23:36:10.000,5e6ebb958d6fbc109d67017d,2020-04-14 23:59:59.999
748836,5e713ea4f2f7c20d78d19cc4,5e714680c22d530aad0ed3ec,paypal,5e7146c9d30d7254bc57432e,2020-03-19 13:05:35.838,2020-03-17 21:53:13.372,5e713ea4f2f7c20d78d19cc4,5e714680c22d530aad0ed3ec,17,USD,2020-03-17 21:52:48.000,5e714680c22d530aad0ed3ec,2020-04-16 23:59:59.999
748840,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,paypal,5e789db9f348107f6a50348b,2020-03-24 13:04:51.517,2020-03-23 11:30:01.103,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,17,USD,2020-03-23 11:29:36.000,5e7823a8f2f7c20d78d1a5ab,2020-04-22 23:59:59.999
748841,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,paypal,5ea0577ee0a51e2c88674944,2020-04-24 16:15:19.709,2020-04-22 14:41:02.176,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,17,USD,2020-04-22 14:40:35.000,5e7823a8f2f7c20d78d1a5ab,2020-05-22 23:59:59.999
748860,5ea0b295a796be1213975b03,5ea0b342f1106b0f0744fd30,paypal,5ea0b392e0a51e2c8867494a,2020-04-24 16:15:20.044,2020-04-22 21:13:54.224,5ea0b295a796be1213975b03,5ea0b342f1106b0f0744fd30,17,USD,2020-04-22 21:13:28.000,5ea0b342f1106b0f0744fd30,2020-05-22 23:59:59.999

In [83]:
pag_trans_payp['fecha_fin'] = pd.to_datetime(pag_trans_payp['fecha_fin'])

pag_trans_payp['START_DATE'] = pd.to_datetime(pag_trans_payp['START_DATE'])

In [103]:
pag_trans_payp['fecha_pago'] = pd.to_datetime(pag_trans_payp['fecha_pago'])

In [104]:
pag_trans_payp[pag_trans_payp['fecha_pago']>pag_trans_payp['fecha_fin']].count()

CUSTOMER_ID          7
SUBSCRIPTION_CODE    7
GATEWAY              7
_id                  7
updatedAt            7
createdAt            7
user_id              7
pasarela             7
monto                7
moneda               7
fecha_pago           7
acuerdo_id           7
fecha_fin            7
dtype: int64

In [105]:
pag_trans_payp[pag_trans_payp['fecha_pago']>pag_trans_payp['fecha_fin']]

,CUSTOMER_ID,SUBSCRIPTION_CODE,GATEWAY,_id,updatedAt,createdAt,user_id,pasarela,monto,moneda,fecha_pago,acuerdo_id,fecha_fin
207682,5638586b3817661751608a41,5861c7000ee08c3630d46d5f,transbank,5861c7000ee08c3630d46d61,2017-01-25 12:15:58.306,2016-12-27 01:42:24.347,5638586b3817661751608a41,5861c7000ee08c3630d46d5f,7390,CLP,2013-04-12 21:04:47.921,5861c7000ee08c3630d46d5f,2013-03-22 21:41:21.943
676616,5dd44755dec85f55595cef0b,5dd447f9fbecca53edee7a81,transbank,5dd447fcfbecca53edee7a83,2019-11-19 20:00:43.323,2019-11-19 19:52:28.297,5dd44755dec85f55595cef0b,5dd447f9fbecca53edee7a81,10990,CLP,2019-11-19 20:00:26.000,5dd447f9fbecca53edee7a81,2019-11-18 23:59:59.999
697166,56385701381766175160091f,589531553eca95290708d7d6,paypal,58e7da65d128441a7018f574,2017-04-07 20:04:03.126,2017-04-07 18:28:53.363,56385701381766175160091f,589531553eca95290708d7d6,15.49,USD,2017-04-05 22:25:39.000,589531553eca95290708d7d6,2017-04-05 01:43:45.811
702700,5638581d3817661751606ed0,58a970c1e058e3060078693e,paypal,58d17e4b7af49d600e108ae8,2017-03-21 19:40:19.163,2017-03-21 19:26:03.516,5638581d3817661751606ed0,58a970c1e058e3060078693e,15.49,USD,2017-03-21 13:44:23.000,58a970c1e058e3060078693e,2017-03-21 10:18:07.007
716093,589fbdc34320da55a2d1d14c,58a8e78be058e30600786576,paypal,58d17e9a7af49d600e108aeb,2017-03-21 19:40:35.864,2017-03-21 19:27:23.002,589fbdc34320da55a2d1d14c,58a8e78be058e30600786576,15.49,USD,2017-03-21 13:45:44.000,58a8e78be058e30600786576,2017-03-21 00:33:37.475
717550,58baec13c907224492c2c16e,58baededc907224492c2c1b3,paypal,58e7f481a3b2683821a2440d,2017-04-07 20:40:17.261,2017-04-07 20:20:17.498,58baec13c907224492c2c16e,58baededc907224492c2c1b3,17,USD,2017-04-03 22:49:02.000,58baededc907224492c2c1b3,2017-04-03 16:48:08.230
718174,58c4a0a3bd8fea0b125674de,58c58b50e3121f0bc8348526,paypal,58f3d6bf14eb043bfd55e3c0,2017-04-16 21:00:35.641,2017-04-16 20:40:31.324,58c4a0a3bd8fea0b125674de,58c58b50e3121f0bc8348526,17,USD,2017-04-16 20:40:25.000,58c58b50e3121f0bc8348526,2017-04-11 17:59:06.557

In [106]:
pag_trans_payp=pag_trans_payp[pag_trans_payp['fecha_pago']<pag_trans_payp['fecha_fin']]

In [107]:
pag_trans_payp['monto']=pag_trans_payp['monto'].astype(float)

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [108]:
pag_trans_payp.loc[pag_trans_payp["moneda"]=='USD','monto'] = pag_trans_payp["monto"]*685

/home/tecnoboy/HERRAMIENTAS/jupyterNotebook/datosSernac/lib/python3.6/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [109]:
pag_trans_payp

,CUSTOMER_ID,SUBSCRIPTION_CODE,GATEWAY,_id,updatedAt,createdAt,user_id,pasarela,monto,moneda,fecha_pago,acuerdo_id,fecha_fin
0,563857913817661751603df1,5861c4990ee08c3630cdd9b0,transbank,5861c4990ee08c3630cdd9b2,2017-01-24 18:50:19.322,2016-12-27 01:32:09.427,563857913817661751603df1,5861c4990ee08c3630cdd9b0,7390.0,CLP,2015-10-04 14:22:29.134,5861c4990ee08c3630cdd9b0,2015-11-03 14:23:49.730
1,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad4,2017-01-24 18:50:21.232,2016-12-27 01:32:09.883,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390.0,CLP,2014-01-21 23:52:17.022,5861c4990ee08c3630cddaba,2014-02-20 23:53:33.429
2,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad3,2017-01-24 18:50:21.231,2016-12-27 01:32:09.883,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390.0,CLP,2014-02-20 23:52:00.005,5861c4990ee08c3630cddaba,2014-03-22 23:53:33.429
3,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad5,2017-01-24 18:50:21.232,2016-12-27 01:32:09.883,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390.0,CLP,2013-12-22 23:52:20.639,5861c4990ee08c3630cddaba,2014-01-21 23:53:33.429
4,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,5861c4990ee08c3630cddad9,2017-01-24 18:50:21.235,2016-12-27 01:32:09.884,563857923817661751603e6b,5861c4990ee08c3630cddaba,7390.0,CLP,2013-08-24 20:16:13.932,5861c4990ee08c3630cddaba,2013-09-23 20:18:49.240
...,...,...,...,...,...,...,...,...,...,...,...,...,...
748835,5e6ebac1faadb50d9386c4d7,5e6ebb958d6fbc109d67017d,paypal,5e6ebc040b6801388a352fb0,2020-03-17 13:01:26.137,2020-03-15 23:36:36.161,5e6ebac1faadb50d9386c4d7,5e6ebb958d6fbc109d67017d,11645.0,USD,2020-03-15 23:36:10.000,5e6ebb958d6fbc109d67017d,2020-04-14 23:59:59.999
748836,5e713ea4f2f7c20d78d19cc4,5e714680c22d530aad0ed3ec,paypal,5e7146c9d30d7254bc57432e,2020-03-19 13:05:35.838,2020-03-17 21:53:13.372,5e713ea4f2f7c20d78d19cc4,5e714680c22d530aad0ed3ec,11645.0,USD,2020-03-17 21:52:48.000,5e714680c22d530aad0ed3ec,2020-04-16 23:59:59.999
748840,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,paypal,5e789db9f348107f6a50348b,2020-03-24 13:04:51.517,2020-03-23 11:30:01.103,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,11645.0,USD,2020-03-23 11:29:36.000,5e7823a8f2f7c20d78d1a5ab,2020-04-22 23:59:59.999
748841,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,paypal,5ea0577ee0a51e2c88674944,2020-04-24 16:15:19.709,2020-04-22 14:41:02.176,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,11645.0,USD,2020-04-22 14:40:35.000,5e7823a8f2f7c20d78d1a5ab,2020-05-22 23:59:59.999
748860,5ea0b295a796be1213975b03,5ea0b342f1106b0f0744fd30,paypal,5ea0b392e0a51e2c8867494a,2020-04-24 16:15:20.044,2020-04-22 21:13:54.224,5ea0b295a796be1213975b03,5ea0b342f1106b0f0744fd30,11645.0,USD,2020-04-22 21:13:28.000,5ea0b342f1106b0f0744fd30,2020-05-22 23:59:59.999

pag_trans_payp=pag_trans_payp.drop([ 'START_DATE'],axis=1)

In [110]:
pag_trans_payp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725341 entries, 0 to 748860
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        725341 non-null  object
 1   SUBSCRIPTION_CODE  725341 non-null  object
 2   GATEWAY            725341 non-null  object
 3   _id                725341 non-null  object
 4   updatedAt          725341 non-null  datetime64[ns]
 5   createdAt          725341 non-null  datetime64[ns]
 6   user_id            725341 non-null  object
 7   pasarela           725341 non-null  object
 8   monto              725341 non-null  float64
 9   moneda             725341 non-null  object
 10  fecha_pago         725341 non-null  datetime64[ns]
 11  acuerdo_id         725341 non-null  object
 12  fecha_fin          725341 non-null  datetime64[ns]
dtypes: datetime64[ns](4), float64(1), object(8)
memory usage: 97.5+ MB

In [111]:
pag_trans_payp=pag_trans_payp.rename(columns={ "monto":"CLP_PRICE","fecha_fin":"END_DATE","createdAt":"START_DATE","fecha_pago":"PAYMENT_DATE"})

In [112]:
pag_trans_payp.columns

Index(['CUSTOMER_ID', 'SUBSCRIPTION_CODE', 'GATEWAY', '_id', 'updatedAt',
       'START_DATE', 'user_id', 'pasarela', 'CLP_PRICE', 'moneda',
       'PAYMENT_DATE', 'acuerdo_id', 'END_DATE'],
      dtype='object')

In [113]:
pag_trans_payp=pag_trans_payp.drop([ '_id', 'updatedAt',
        'user_id', 'pasarela', 'moneda', 'acuerdo_id'],axis=1)

In [114]:
pag_trans_payp

,CUSTOMER_ID,SUBSCRIPTION_CODE,GATEWAY,START_DATE,CLP_PRICE,PAYMENT_DATE,END_DATE
0,563857913817661751603df1,5861c4990ee08c3630cdd9b0,transbank,2016-12-27 01:32:09.427,7390.0,2015-10-04 14:22:29.134,2015-11-03 14:23:49.730
1,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,2016-12-27 01:32:09.883,7390.0,2014-01-21 23:52:17.022,2014-02-20 23:53:33.429
2,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,2016-12-27 01:32:09.883,7390.0,2014-02-20 23:52:00.005,2014-03-22 23:53:33.429
3,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,2016-12-27 01:32:09.883,7390.0,2013-12-22 23:52:20.639,2014-01-21 23:53:33.429
4,563857923817661751603e6b,5861c4990ee08c3630cddaba,transbank,2016-12-27 01:32:09.884,7390.0,2013-08-24 20:16:13.932,2013-09-23 20:18:49.240
...,...,...,...,...,...,...,...
748835,5e6ebac1faadb50d9386c4d7,5e6ebb958d6fbc109d67017d,paypal,2020-03-15 23:36:36.161,11645.0,2020-03-15 23:36:10.000,2020-04-14 23:59:59.999
748836,5e713ea4f2f7c20d78d19cc4,5e714680c22d530aad0ed3ec,paypal,2020-03-17 21:53:13.372,11645.0,2020-03-17 21:52:48.000,2020-04-16 23:59:59.999
748840,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,paypal,2020-03-23 11:30:01.103,11645.0,2020-03-23 11:29:36.000,2020-04-22 23:59:59.999
748841,5e781e7ec22d530aad0edb2a,5e7823a8f2f7c20d78d1a5ab,paypal,2020-04-22 14:41:02.176,11645.0,2020-04-22 14:40:35.000,2020-05-22 23:59:59.999
748860,5ea0b295a796be1213975b03,5ea0b342f1106b0f0744fd30,paypal,2020-04-22 21:13:54.224,11645.0,2020-04-22 21:13:28.000,2020-05-22 23:59:59.999

In [115]:
pag_trans_payp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725341 entries, 0 to 748860
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        725341 non-null  object
 1   SUBSCRIPTION_CODE  725341 non-null  object
 2   GATEWAY            725341 non-null  object
 3   START_DATE         725341 non-null  datetime64[ns]
 4   CLP_PRICE          725341 non-null  float64
 5   PAYMENT_DATE       725341 non-null  datetime64[ns]
 6   END_DATE           725341 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), object(3)
memory usage: 44.3+ MB

In [116]:
pag_trans_payp=pag_trans_payp.rename(columns={ "fecha_fin":"END_DATE"})

In [117]:
pag_trans_payp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725341 entries, 0 to 748860
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        725341 non-null  object
 1   SUBSCRIPTION_CODE  725341 non-null  object
 2   GATEWAY            725341 non-null  object
 3   START_DATE         725341 non-null  datetime64[ns]
 4   CLP_PRICE          725341 non-null  float64
 5   PAYMENT_DATE       725341 non-null  datetime64[ns]
 6   END_DATE           725341 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(1), object(3)
memory usage: 44.3+ MB

In [140]:
user_Cupones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13170 entries, 0 to 13171
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CUSTOMER_ID        13170 non-null  object
 1   SUBSCRIPTION_CODE  13170 non-null  object
 2   START_DATE         13170 non-null  datetime64[ns]
 3   END_DATE           13170 non-null  datetime64[ns]
 4   GATEWAY            13170 non-null  object
 5   CLP_PRICE          13170 non-null  object
 6   PAYMENT_DATE       13170 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(4)
memory usage: 823.1+ KB

In [141]:
total = [pag_trans_payp, user_Cupones]
historyTotal=pd.concat(total)

In [144]:
historyTotal['GATEWAY'].unique()

array(['transbank', 'paypal', 'cupones'], dtype=object)

In [145]:
historyTotal.columns

Index(['CUSTOMER_ID', 'SUBSCRIPTION_CODE', 'GATEWAY', 'START_DATE',
       'CLP_PRICE', 'PAYMENT_DATE', 'END_DATE'],
      dtype='object')

In [146]:
historyTotal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 738511 entries, 0 to 13171
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CUSTOMER_ID        738511 non-null  object
 1   SUBSCRIPTION_CODE  738511 non-null  object
 2   GATEWAY            738511 non-null  object
 3   START_DATE         738511 non-null  datetime64[ns]
 4   CLP_PRICE          738511 non-null  object
 5   PAYMENT_DATE       738511 non-null  datetime64[ns]
 6   END_DATE           738511 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(4)
memory usage: 45.1+ MB

historyTotal=historyTotal.drop([ '_id', 'updatedAt',
       'createdAt', 'user_id', 'pasarela', 'monto', 'moneda', 'fecha_pago',
       'acuerdo_id', 'fecha_fin'],axis=1)

In [147]:
historyTotal['CUSTOMER_ID']=historyTotal['CUSTOMER_ID'].apply(str)

In [148]:
historyTotal['SUBSCRIPTION_CODE']=historyTotal['SUBSCRIPTION_CODE'].apply(str)

In [149]:
historyTotal['CLP_PRICE']=historyTotal['CLP_PRICE'].apply(float)

In [150]:
historyTotal['START_DATE']=historyTotal['START_DATE'] .map(lambda x: str(x)[:10])

In [151]:
historyTotal['PAYMENT_DATE']=historyTotal['PAYMENT_DATE'] .map(lambda x: str(x)[:10])

In [152]:
historyTotal['END_DATE']=historyTotal['END_DATE'] .map(lambda x: str(x)[:10])

In [153]:
historyTotal = historyTotal[['CUSTOMER_ID','SUBSCRIPTION_CODE','CLP_PRICE','END_DATE','GATEWAY','PAYMENT_DATE','START_DATE']]

In [155]:
import datetime

In [156]:
name='cdf_subHisto_'+datetime.datetime.today().strftime('%Y%m%d_%H%M%S')

In [157]:
path='/home/tecnoboy/'+name+'.csv'

In [158]:
historyTotal.to_csv(path, index=False, quoting=csv.QUOTE_NONNUMERIC)

In [159]:
historyTotal['GATEWAY'].unique()

array(['transbank', 'paypal', 'cupones'], dtype=object)